{% extends "inner.html" %}
{% load i18n common_tags %}
{% block extra_css %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/kendo.common.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/kendo.default.min.css" rel="stylesheet" />
{% endblock extra_css %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.imgareaselect.js"></script>
  <script src="{{ STATIC_URL }}js/edit-profile.js"></script>
  <script src="{{ STATIC_URL }}js/field_array.js"></script>
{% endblock extra_js %}
{% block workspace %}

  <header class="heading">
    <h1>{% trans "Add Members" %}</h1>
    <label>Add or edit Board Member information. Both you and this employee can update this page.</label>
  </header>
  <form action="" method="POST" class="addmember-form" enctype="multipart/form-data">{% csrf_token %}
    <div class="m1">
      <div class="fields">
        <div class="c1">
          <ul class="fields-list">
            {% include 'accounts/includes/add_member_form.html' %}
          </ul>
          <div class="btns">
            <div class="holder">
              <button class="btn">{% trans "Save Member" %}</button>
            </div>
            <div class="holder">
              <button class="btn">{% trans "Save and Add another" %}</button>
            </div>
            <input type="reset" class="reset" value="{% trans "Cancel" %}">
          </div>
        </div>
      </div>
      <div class="picture">
        <div class="photo">
          <img src="{{ default_avatar_url }}" width="130" height="86" alt="" id="avatar">
        </div>
        <div class="add-photo">
          <a class="upload-link" href="">{% trans "Add Profile Picture" %}</a>
          <input type="file" class="avatar-input" name="avatar" />
        </div>
      </div>
    </div>
  </form>
{% endblock %}
