{% extends 'inner.html' %}
{% load static i18n common_tags user_tags permissions_tags %}

{% block extra_js %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'js/member_list.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.custom.min.js' %}"></script>
  <script src="{% static 'js/invite-user.js' %}"></script>
{% endblock extra_js %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="{% static 'css/popup.css' %}">
  <style>
    .export-links{
      float:right;
      margin-right:40px;
      margin-top:15px;
      color:#E5E5E5;
    }
    .export-links a{
      color:#87E6FE;
     }
  </style>
{% endblock extra_css %}

{% block workspace %}
  <div class="heading">
    <div class="holder">
      <div class="header-wrap-block">
        <h2>{% trans 'Members' %}</h2>
        {% if current_membership|has_role_permission:'profiles.membership:add' %}
          <div class="button-wrap">
            <a class="btn member-btn-indent" href="{% acc_url 'member_create' %}">{% trans 'ADD MEMBER' %}</a>
          </div>
        {% endif %}
      </div>
      <p>{% blocktrans %}This overview gives a quick snapshot of the members of the board. Select a trustee to view
        their profile,
        activity, and contact them.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="bar">
    <form action="#" class="browse-by">
      <label for="browse-by">{% trans 'Show' %}:</label>
      <select id="browse-by">
        <option value="">{% trans 'All Members' %}</option>
        {% for value, name in membership_roles %}
          <option value="{{ value }}">{{ name }}</option>
        {% endfor %}
        <option value="chairman">{% trans 'Committee Chair' %}</option>
      </select>
    </form>
    {% if current_membership.is_admin %}
      <a href="mailto:{% for membership in memberships%}{{ membership.user.email }},{% endfor %}" class="email-l" id="mail-to">{% trans 'Email this group...' %}</a>
    {% endif %}
    <ul class="sort-list">
      <li><a class="list-view active" href="#">{% trans 'List View' %}</a></li>
      <li><a class="grid-view " href="#">{% trans 'Grid View' %}</a></li>
    </ul>
  </div>

  <div class="list container">
    {% for membership in memberships %}
      <div class="member" data-role="{{ membership.role }}" data-chairman="{% if membership.chairman %}true{% else %}false{% endif %}">

        <a class="photo" href="{{ membership.get_absolute_url }}"><img src="{{ membership|avatar:'180x135' }}" width="180" alt="{{ membership.get_full_name }}"></a>
        <div class="text">
          <ul class="contacts">
            <li><a class="email-l" href="mailto:{{ membership.user.email }}" data-email="{{ membership.user.email }}">{% trans 'Email' %}</a></li>
            {% if membership.social_media_link %}
              <li>
                <a id="id_social_media_link" href="{{ membership.social_media_link }}" target="_blank">{% trans 'Social Media Links' %}</a>
              </li>
            {% endif %}
          </ul>
          <h3 class="full-name" title="{{ membership.get_full_name }}">{{ membership.get_full_name }}</h3>
          <h4>{{ membership.position }}</h4>
          <dl>
            <dt>{% trans 'Member Since' %}</dt>
            <dd>{{ membership.date_joined_board|date:"N j, Y" }}</dd>
            <dt>{% trans 'Committee(s)' %}</dt>
            <dd>{% for commi in membership.committees.all %}
              {{ commi.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </dd>
          </dl>
        <span class="manage-member-buttons">
          <a class="btn" href="{{ membership.get_absolute_url }}">{% trans 'Full Profile' %}</a>
          {% has_permission 'profiles.membership' 'edit' membership as permission_edit %}
          {% if permission_edit %}
            <a class="btn edit-btn" href="{% url 'profiles:edit' pk=membership.pk %}">{% trans "Edit Profile" %}</a>
          {% endif %}

          {% if current_membership|has_role_permission:'profiles.membership:add' %}
            {% if not membership.is_invited %}
              <a
                  data-url="{% url 'profiles:invite' user_pk=membership.user.pk %}"
                  data-form-action-url="{% url 'profiles:invite' user_pk=membership.user.pk %}"
                  data-user-name="{{ membership.get_full_name }}"
                  class="btn edit-btn invite-popup-button"
                  href="#"
                  id="btn-invite-{{ membership.user.pk }}"
              >{% if membership.invitation_sent %}{% trans "Resend invitation" %}{% else %}{% trans "Invite member" %}{% endif %}</a>
            {% endif %}
          {% endif %}
        </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="export">
    {% if current_membership.is_admin %}
      <a class="export-xls" href="{% acc_url 'export-pdf' %}">{% trans 'EXPORT MEMBERS TO PDF' %}</a>
      <a class="export-pdf" href="{% acc_url 'export-xls' %}">{% trans 'EXPORT MEMBERS TO EXCEL' %}</a>
    {% endif %}
  </div>

  <div class="invite-popup">
    <div data-url="" id="invite-dialog" title="Send welcome email" data-send-button-text="{% trans "Send invite" %}" data-cancel-button-text="{% trans "or CANCEL" %}" data-resend-text="{% trans "Resend invitation" %}">
      <div class="subtitle">
        {% trans "This will send an invitation email to your new user containg their username, password and the URL to login." %}
      </div>
      <div class="invite-form">
        <form action="#" id="invite-form">
          <input type="text" name="user" id="invite-user" value="" readonly/>
          <textarea name="personal-message" id="invite-pm" cols="30" rows="10" placeholder="{% trans "Type personal message..." %}"></textarea>
          <label for="invite-pm" class="invite-pm">(optional)</label>
        </form>
      </div>
    </div>
  </div>

{% endblock workspace %}
