{% extends "inner.html" %}
{% load i18n static %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/edit-documents.js"></script>
  <script src="{{ STATIC_URL }}js/meeting_create.js"></script>
  <script src="{{ STATIC_URL }}js/documents.js"></script>
  <script src="{% static 'js/selectize/js/standalone/selectize.js' %}"></script>
  <script type="text/javascript">
    var DOC_DELETE_URL = "{% url 'documents:delete' %}"
  </script>
{% endblock extra_js %}
{% block extra_css %}
  {{ super }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/meetings.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/selectize/css/selectize.css' %}">
  <link rel="stylesheet" href="{% static 'js/selectize/css/selectize.default.css' %}">
{% endblock extra_css %}

{% block article_class %}has-right-side{% endblock article_class %}

{% block workspace %}
  {% include 'meetings/includes/meeting_right_bar.html' %}
  <header class="heading">
    {% if is_event %}
      <h2>{% trans 'Create an Event' %}</h2>
    {% else %}
      <h2>{% trans 'Create a Meeting' %}</h2>
    {% endif %}
  </header>
  <ul class="error">
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <form method="post" enctype="multipart/form-data" class="createmeeting-form">{% csrf_token %}
    {# Need it here because due to markup actual action is out of form element, so it's value will be placed in hidden to go with form #}
    <input type="hidden" name="{{ form.action.name }}" value="{{ form.action.value }}" id="action-hidden-field">
    <ul class="meeting-form-body">
      {% include 'meetings/includes/edit_form.html' %}
      {% if not is_event %}
        {% include 'meetings/includes/documents.html' %}
      {% endif %}
    </ul>
  </form>
{% endblock workspace %}
