{% extends "inner.html" %}
{% load i18n static dajaxice_templatetags common_tags permissions_tags compress %}

{% block extra_js %}
  {% dajaxice_js_import %}
  <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
  <script src="{% static 'js/meetings.js' %}"></script>
{% endblock extra_js %}

{% block extra_css %}
  {{ super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/meetings.css' %}"/>
  {% endcompress %}
{% endblock extra_css %}


{% block workspace %}
  <header class="heading">
    <div class="holder">
      <a class="btn past-meetings" href="{% acc_url meeting_type_namespace|add:':past' %}">
        {% if is_event %}{% trans 'Past Events' %}
          {% else %}{% trans 'Past Meetings' %}
        {% endif %}
      </a>
      {% if current_membership|has_role_permission:'meetings.meeting:add' %}
        <a class="btn" href="{% acc_url meeting_type_namespace|add:':create' %}">
          {% if is_event %}{% trans 'Add Event' %}
            {% else %}{% trans 'Add Meeting' %}
          {% endif %}
        </a>
      {% endif %}
      <div class="bar right no_padding no_border offset_top_5">
        <form action="" class="browse-by">
          <label for="browse-by">{% trans 'Browse by' %}:</label>
          {{ form.order_by }}
          {{ form.committee }}
        </form>
      </div>
      <h2>{{ meetings_translated }}</h2>
    </div>
  </header>
  <div id="meetings">
    {% include 'meetings/includes/meetings.html' %}
  </div>
{% endblock workspace %}
