{% extends "inner.html" %}
{% load i18n static user_tags common_tags permissions_tags compress %}

{% block extra_js %}
  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/object_delete.js"></script>
  <script src="{{ STATIC_URL }}js/expand_collapse_div.js"></script>
{% endblock extra_js %}

{% block extra_css %}
  {{ super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/meetings.css' %}"/>
    <link href="{% static 'css/expand-collapse-div.css' %}" rel="stylesheet"/>
  {% endcompress %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extra_css %}

{% block article_class %}has-right-side{% endblock article_class %}

{% block workspace %}
  {% include 'meetings/includes/meeting_right_bar.html' %}

  <ul class="breadcrumbs meeting-detail-breadcrumbs">
    <li><a href="{% acc_url meeting_type_namespace|add:':list' %}">{{ meetings_translated }}</a></li>
    <li>{{ meeting.get_committee_name }} {{ meeting_translated }} ({{ meeting.start|date:"N j, Y" }})</li>
  </ul>
  <div class="content meeting-detail">
    <div class="header-meet">
      <h2>
        {{ meeting.name }}
        {% if not meeting.is_published %}<span class="draft-meeting-label">{% trans 'draft' %}</span>{% endif %}
      </h2>
    </div>
    <ul class="meet-list">
      {% if meeting.description %}
        <li>
          <div class="name-meet">{% trans 'Description' %}:</div>
          <div class="cont-meet">{{ meeting.description|linebreaks }}</div>
        </li>
      {% endif %}
      <li>
        <div class="name-meet">{% trans 'Date' %}:</div>
        <div class="cont-meet">
          {{ meeting.start|date:"l, N j, Y" }}
        </div>
      </li>
      <li>
        <div class="name-meet">{% trans 'Time' %}:</div>
        <div class="cont-meet">
          {{ meeting.start|date:"g:i a" }} &ndash; {{ meeting.end|date:"g:i a" }}
        </div>
      </li>
      <li>
        <div class="name-meet">{% trans 'Location' %}:</div>
        <div class="cont-meet">
          <span id="location">{{ meeting.location }}</span>
          <a href="javascript:void(0)" class="location-link" target="_blank">{% trans 'Show on map' %}</a>
        </div>
      </li>
      {% if not is_event %}
        <li>
          <div class="name-meet">{% trans 'Agenda' %}:</div>
          <div class="cont-meet">
            {% if meeting.get_agenda %}
              <a class="{{ meeting.get_agenda.extension }}" href="{{ meeting.get_agenda.get_download_url }}">{% trans 'Download Meeting Agenda' %}</a>
              {% if meeting.get_agenda.get_viewer_url %}
                <span class="viewer-link">
                <i class="fa fa-search"></i> <a href="{{ meeting.get_agenda.get_viewer_url }}" target="_blank">View</a>
              </span>
              {% endif %}
            {% else %}
              {% trans 'Not Yet Available' %}
            {% endif %}
          </div>
        </li>
        <li>
          <div class="name-meet">{% trans 'Minutes' %}:</div>
          <div class="cont-meet">
            {% if meeting.get_minutes %}
              <a class="{{ meeting.get_minutes.extension }}" href="{{ meeting.get_minutes.get_download_url }}">{% trans 'Download Meeting Minutes' %}</a>
              {% if meeting.get_minutes.get_viewer_url %}
                <span class="viewer-link">
                <i class="fa fa-search"></i> <a href="{{ meeting.get_minutes.get_viewer_url }}" target="_blank">View</a>
              </span>
              {% endif %}
            {% else %}
              {% trans 'Not Yet Available' %}
            {% endif %}
          </div>
        </li>
        {% if meeting.get_other_docs %}
          <li>
            <div class="name-meet">{% trans 'Meeting Documents' %}:</div>
            <div class="cont-meet">
              {% for doc in meeting.get_other_docs %}
                <a class="{{ doc.extension }}" href="{{ doc.get_download_url }}">{% trans 'Download' %} {{ doc.filename }}</a>
                {% if doc.get_viewer_url %}
                  <span class="viewer-link">
                <i class="fa fa-search"></i> <a href="{{ doc.get_viewer_url }}" target="_blank">View</a>
              </span>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endif %}
    </ul>

  </div>

  <div class="meet-list-delimeter"></div>

  <script id="delete-confirmation" type="text/x-kendo-template">
    {% if is_event %}
      <p class="delete-message">{% trans 'Are you sure you want to delete this event' %}?</p>
    {% else %}
      <p class="delete-message">{% trans 'Are you sure you want to delete this meeting with all associated documents' %}?</p>
    {% endif %}
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
  <script src="{% static 'js/meetings.js' %}"></script>
  <script src="{% static 'js/meeting_detail.js' %}"></script>

  <div class="content meeting-roster">
    <h2>
      {% if is_event %}{% trans 'Event Roster'|upper %}
        {% else %}{% trans 'Meeting Roster'|upper %}
      {% endif %}
    </h2>
    {{ rsvp_attendance }} {% trans 'Attending'|title %}
    <table>
      {% for response in rsvp_responses %}
        <tr>
          <td><img src="{{ STATIC_URL }}images/{{ response.icon }}" height="16"/>{% trans response.attending %}</td>
          <td>
            <h3>{{ response.name }}
              {% if response.is_invited %}
                <span class="meeting-roster-invited">{% trans 'Invited' %}</span>
              {% endif %}
            </h3>
            {{ response.email }}
          </td>

          {# Full RSVP overview including history and precence registration for admin, chairperson, assistant #}
          {% if permission_edit %}
            <td>
              {% if response.history %}
                <div class="container">
                  <div class="expand-header">
                    <span>{% trans 'RSVP history' %}</span>
                  </div>
                  <div class="expand-content">
                    <ul>
                      {% for hist in response.history %}
                        <li>{{ hist.timestamp }}: {% trans hist.attending %}</li>
                      {% endfor %}
                      <li>{{ response.timestamp }}: {% trans response.attending %} ({% trans 'current' %})</li>
                    </ul>
                  </div>
                </div>
              {% endif %}
            </td>
            {% comment %}
          TODO: meeting attendance
          <td>
            <input type="checkbox" id="user_attended_{{response.user_id}}" {{response.present|bool_to_checked}} />
          </td>
          {% endcomment %}
          {% endif %}

        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="content meeting-detail-btns">
    {% if previous %}
      <a class="previous" href="{{ previous.get_absolute_url }}">
        {% if is_event %}{% trans 'Previous Event'|upper %}
          {% else %}{% trans 'Previous Meeting'|upper %}
        {% endif %}
      </a>
    {% else %}
      <a class="previous visual"></a>
    {% endif %}
    {% if next %}
      <a class="next" href="{{ next.get_absolute_url }}">
        {% if is_event %}{% trans 'Upcoming Event'|upper %}
          {% else %}{% trans 'Upcoming Meeting'|upper %}
        {% endif %}
      </a>
    {% endif %}
  </div>
{% endblock workspace %}
