{% extends "inner.html" %}
{% load i18n static compress common_tags %}

{% block extra_js %}
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/edit-documents.js' %}"></script>
  <script src="{% static 'js/meeting_create.js' %}"></script>
  <script src="{% static 'js/documents.js' %}"></script>
  <script src="{% static 'js/selectize/js/standalone/selectize.js' %}"></script>
  <script type="text/javascript">
    var DOC_DELETE_URL = "{% url 'documents:delete' %}"
  </script>
{% endblock extra_js %}

{% block extra_css %}
  {{ super }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.min.css">
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/meetings.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/update-doc-popup.css' %}">
    <link rel="stylesheet" href="{% static 'js/selectize/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'js/selectize/css/selectize.default.css' %}">
  {% endcompress %}
{% endblock extra_css %}

{% block article_class %}has-right-side{% endblock article_class %}

{% block workspace %}
  {% include 'meetings/includes/meeting_right_bar.html' %}

  <header class="heading">
    <h2>
      {% if is_event %}{% trans 'Update Event' %}
        {% else %}{% trans 'Update Meeting' %}
      {% endif %}</h2>
  </header>
  <ul class="error">
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <form method="post" enctype="multipart/form-data" class="createmeeting-form updatemeeting">{% csrf_token %}
    {# Need it here because due to markup actual action is out of form element, so it's value will be placed in hidden to go with form #}
    <input type="hidden" name="{{ form.action.name }}" value="update" id="action-hidden-field">
    <ul class="meeting-form-body">
      {% include 'meetings/includes/edit_form.html' %}
      {% include 'meetings/includes/documents.html' with doc_agenda=object.get_agenda doc_minutes=object.get_minutes other_docs=object.get_other_docs edit_docs=True %}
    </ul>
  </form>

  {% if form.action.field|check_choice_value:'update-no-email'  %}
  <script id="prompt-send-email" type="text/x-kendo-template">
    <p class="prompt-message text-center">{% trans 'Send emails after update' %}?</p>
    <div class="confirmation-buttons">
      <button class="send-emails k-button">{% trans 'Yes' %}</button>
      <button class="skip-emails k-button">{% trans 'No' %}</button>
    </div>
  </script>
  {% endif %}
{% endblock workspace %}
