@font-face{
    font-family:ProximaNova-Light;
    src:url('../fonts/proximanova-light-webfont.eot');
    src:url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-light-webfont.woff') format('woff'),
        url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:ProximaNova-Regular;
    src:url('../fonts/proximanova-regular-webfont.eot');
    src:url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-regular-webfont.woff') format('woff'),
        url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-regular-webfont.svg#proximanova-regular-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:ProximaNova-Bold;
    src:url('../fonts/proximanova-bold-webfont.eot');
    src:url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-bold-webfont.woff') format('woff'),
        url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-bold-webfont.svg#proximanova-bold-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:ProximaNova-Semibold;
    src:url('../fonts/proximanova-semibold-webfont.eot');
    src:url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
        url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-semibold-webfont.svg#proximanova-semibold-webfont') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* reset */
img{
    border-style:none;
    vertical-align:top;
}
a{
    color:#000;
    text-decoration:none;
}
a:hover{text-decoration:underline;}
input, textarea, select{
    font:12px Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#000;
    margin:0;
}
form, fieldset{
    margin:0;
    padding:0;
    border-style:none;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
}
header, footer, article, section, hgroup, nav, figure{display:block;}
mark{background:none;}
figure{
    margin:0;
    padding:0;
}
html {
    height: 100%;
}
body{
    margin:0;
    font:12px/14px arial, helvetica, sans-serif;
    /* background:#fff url(../images/bg-pattern.png); */
    background:#fff;
    min-width:768px;
    height: 100%;
}
#header{
    height:66px;
    padding:0 20px 0 0;
    margin:0;
    background:#4e4d4c;
}
#header:after{content:"";display:block;clear:both;}
.logo{
    background:url(../images/logo.png);
    margin:11px 0 0;
    text-indent:-9999px;
    width:251px;
    height:41px;
}

.logo-header{
    float:left;
    margin:11px 0 0;
    text-indent:-9999px;
    width:251px;
    height:41px;
}


.logo-a{
    display:block;
}
#header .holder{
    float:right;
}
#header .holder > ul{
    float:left;
    margin:0 10px 0 0;
}
#header .holder > ul > li{
    float:left;
    background:url(../images/sprites.png) no-repeat 100% -803px;
    background-position: top -803px right -6px;
}

#header .holder > ul > li:first-child, #header .holder > ul > li:last-child {
    background: none;
}
.search-form{
    float:left;
    background:#fff;
    border:1px solid #ddd;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    height:29px;
    position:relative;
    margin-top:16px;
}
.search-form .submit{
    float:right;
    text-indent:-9999px;
    cursor:pointer;
    padding:0;
    background:url(../images/sprites.png) -15px -330px;
    width:29px;
    height:29px;
    border-style:none;
}
.search-form .txt{
    float:left;
    background:none;
    border-style:none;
    padding:6px 9px;
    color:#bfbfbf;
    font-size:14px;
    width:255px;
}
.personal{
    float:left;
    position:relative;
}
.personal .opener{
    float:left;
    color:#fff;
    font-size:14px;
    line-height:66px;
    background:url(../images/sprites-icos.png) no-repeat 87% -1546px;
    background-position: top -1546px right 25px;
    padding:0 42px 0 10px;
    display: block;
    overflow: hidden;
    height: 65px;
}
.settings:hover .opener,
.personal:hover .opener{
    background-color:#2a2a2a;
    padding-left:10px;
}
.settings:hover .opener{
    padding-left:1px;
    padding-right:1px;
    margin-right:-1px;
    background-position:21px -964px;
}
.settings:hover{
    margin-left:-1px;
    z-index:1;
}
.personal:hover{
    z-index:1;
}
.opener:hover{text-decoration:none;}
.drop{
    position:absolute;
    top:-9999px;
    right:0;
    width:221px;
    padding:8px 0 0;
}
.settings:hover .drop,
.personal:hover .drop{top:57px;}
.drop ul{
    background:#2a2a2a;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-radius:0 0 5px 5px;
    text-transform:uppercase;
    font-size:12px;
    line-height:37px;
    padding:15px 0;
    position:relative;
}
.drop li{
    overflow:hidden;
    vertical-align:middle;
    padding-bottom:4px;
}
.drop a{
    display:block;
    color:#fff;
    padding:0 8px 0 50px;
    background:url(../images/sprites-icos.png) no-repeat 18px -1302px;
}
.drop .inbox{background-position:18px -1382px;}
.drop .signout{background-position:18px -1302px;}
.drop a:hover{
    text-decoration:none;
    background-color:#008ac6;
}
#header .email{
    float:left;
    width:20px;
    height:15px;
    margin:24px 20px 0;
    position:relative;
    text-indent:-9999px;
    background:url(../images/sprites-icos.png) 0 -1505px;
}
#header .email span{
    position:absolute;
    left:16px;
    top:-7px;
    background:#0089c5;
    padding:0 6px;
    font:10px/14px arial, helvetica, sans-serif;
    color:#fff;
    text-indent:0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#header .current-membership-photo{
    height: 46px;
    width: 46px;
    margin-right: 10px;
    margin-top: 8px;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid #959595;
}
#header .current-membership-photo img{
    height: 100%;
    margin-left: -13px;
}
.settings{
    float:left;
    position:relative;
}
.settings .opener{
    float:left;
    width:60px;
    height:66px;
    background:url(../images/sprites-icos.png) no-repeat 20px -964px;
    text-indent:-9999px;
}
.drop .account-settings{background-position:18px -1063px;}
.drop .account-users{background-position:18px -1142px;}
.drop .plans-pricing{background-position:18px -1222px;}
.drop .add-new-committee,
.drop .add-new-member{background-position:17px -2249px;}
.drop .billing{background-position:15px -2298px;}
#twocolumns{
    overflow:hidden;
    /* padding-bottom:28px; */
}

#aside{
    float:left;
    width:225px;
    margin:0 -1px 0 0;
    position:relative;
    z-index:1;
    background-color: #363636;
}
#aside ul{
    background-color: #363636;
}

#aside li{
    overflow:hidden;
    background-color: #363636;
}

#aside li.active {
    color:#7e7e7e;
    background-color: #ffffff;
}

#brand{
    float:left;
    width:225px;
    height: 66px;
    background-color: #363636;
    /*background-color: red;*/
}

#brand a {
    display: block;
    text-decoration: none;
    padding: 12px 0 12px 20px;
}

#brand a:before {
    content: "";
    background-image:url(../images/logo.png);
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 41px;
    margin-right: 6px;
}

#brand .name-menu {
    color: #ffffff;
    font-size: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

#company {
    float: left;
    padding: 25px 0 0 40px;
}

#company a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    float: left;
    margin-top: 0;
    letter-spacing: 2px;
}

.not-available {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}

#aside .name-menu {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

#aside li a{
    display:block;
    color:#cacaca;
    padding:15px 0 15px 20px;
    position:relative;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #474747;
}

#aside li:first-child
{
    border-top: 1px solid #474747;
}
#aside li:first-child:hover,
#aside li:first-child.active,
#aside li:first-child.active:hover
{
    border-top: 1px solid white;
}
#aside li a:before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    background-image: url("../images/svg/sprite.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#aside .active a,
#aside .active a:hover {
    background-color:#fff;
    text-decoration:none;
    color:#4b4b4b;
    cursor: auto;
    border-bottom: 1px solid #ffffff;
}

#aside li a:hover{
    background-color:#f1f1f1;
    text-decoration:none;
    color:#4b4b4b;
    border-bottom: 1px solid #ffffff;
}

#aside li a.dash-menu:before{
    background-position: 0 -160px;
}

#aside .active a.dash-menu:before,
#aside li a.dash-menu:hover:before {
    background-position: 0 -200px;
}

#aside li a.meet-menu:before{
    background-position: 0 -320px;
}

#aside .active a.meet-menu:before,
#aside li a.meet-menu:hover:before {
    background-position: 0 -360px;
}

#aside li a.event-menu:before{
    background-position: 0 -480px;
}

#aside .active a.event-menu:before,
#aside li a.event-menu:hover:before {
    background-position: 0 -520px;
}

#aside li a.governance-menu:before{
    background-position: 0 -240px;
}

#aside .active a.governance-menu:before,
#aside li a.governance-menu:hover:before {
    background-position: 0 -280px;
}

#aside li a.committees-menu:before{
    background-position: 0 -120px;
}

#aside .active a.committees-menu:before,
#aside li a.committees-menu:hover:before {
    background-position: 0 -80px;
}

#aside li a.members-menu:before{
    background-position: 0 -400px;
}

#aside .active a.members-menu:before,
#aside li a.members-menu:hover:before {
    background-position: 0 -440px;
}

#aside li a.guest-menu:before{
    background-image: url(../images/svg/group-sprite.png);
    background-position: 0 -120px;
}

#aside .active a.guest-menu:before,
#aside li a.guest-menu:hover:before {
    background-image: url(../images/svg/group-sprite.png);
    background-position: 0 -80px;
}

#aside li a.calendar-menu:before{
    background-position: 0 0;
}

#aside .active a.calendar-menu:before,
#aside li a.calendar-menu:hover:before {
    background-position: 0 -40px;
}

#content{
    border-left: 225px solid #363636;
    padding:30px 25px 30px 40px;
    background:#fff;
    /* overflow:hidden; */
    position:relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
}

#content:after {
    content:"";
    display: block;
    clear: both;
    width: 100%;
    height: 0;
    float: none;
}

.heading{
    padding:10px 0 15px;
    overflow: auto;
}

.heading:after{
    content: "";
    clear: both;
    display: block;
}

.bio-holder h2,
.content h2,
.heading h2
{
    float:left;
    text-transform:uppercase;
    color:#0089c5;
    margin:0;
    font:30px ProximaNova-Semibold, arial, helvetica, sans-serif;
}
.browse-by{
    /* float:right; */
    margin:0;
}
.browse-by label{
    float:left;
    font:bold 13px/30px arial, helvetica, sans-serif;
    margin:0 14px 0 0;
    color:#4a4a4a;
}
.browse-by select{
    float:left;
    width:215px;
}
.bar .browse-by select{width:178px;}
.outtaHere{
    position:absolute;
    left:-3000px;
}
.selectArea{
    position:relative;
    height:28px;
    float:left;
    color:#373737;
    font-size:13px;
    line-height:28px;
    border:1px solid #dcdcdc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:3px;
}
.selectAreaActive{
    -moz-border-radius-bottomright:0;
    -webkit-border-bottom-right-radius:0;
    -moz-border-radius-bottomleft:0;
    -webkit-border-bottom-left-radius:0;
    border-radius:5px 5px 0 0;
}
.selectArea .left{display:none;}
.selectArea a.selectButton{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background:url(../images/sprites.png) no-repeat 100% -362px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.selectAreaActive a.selectButton{background-position:100% -394px;}
.selectArea .center{
    height:28px;
    display:block;
    padding:0 32px 0 10px;
}
.optionsDivInvisible,
.optionsDivVisible{
    position:absolute;
    background-color:#fff;
    border:1px solid #dcdcdc;
    z-index:30;
    font-size:13px;
    line-height:32px;
    margin-top:-1px;
    margin-left:1px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-radius:0 0 5px 5px;
}
.optionsDivInvisible{display:none;}
.optionsDivVisible ul{padding:0 0 8px;}
.optionsDivVisible li{overflow:hidden;}
.optionsDivVisible a{
    color:#4a4a4a;
    overflow:hidden;
    text-decoration:none;
    display:block;
    height:1%;
    padding:0 8px;
}
.optionsDivVisible a:hover{
    background-color:#008ac6;
    color:#fff;
    text-decoration:none;
}
.checkboxArea, .checkboxAreaChecked{
    cursor: pointer;
    float:left;
    width:18px !important;
    height:18px;
    overflow:hidden;
    background:url(../images/sprites.png) no-repeat 0 -699px;
    margin:0 8px 0 2px;
}
.checkboxAreaChecked{background-position:-18px -699px;}
#content .archives{
    padding:0 0 40px;
}
#content .archives li{
    border-bottom:1px solid #ebebeb;
    padding:20px 0 6px;
    overflow:hidden;
}

#content #logo-form .archives{
    padding: 0 0 0;
}
#content #logo-form .archives li{
    border-bottom:0 solid #ebebeb;
    padding: 0 0 0;
    overflow: hidden;
}
#content #logo-form .archives .item {
    overflow: hidden;
    padding: 0 67px 46px;
}
#content #logo-form .archives .items {
    padding-left: 20px;
}

#content #meeting_documents .archives .date{
    text-transform:uppercase;
    color:#333;
    font:normal 14px ProximaNova-Normal, arial, helvetica, sans-serif;
}

#content #key_documents .archives .date{
    float:left;
    color:#333;
    font:normal 14px arial, helvetica, sans-serif;
    width:350px;
    margin-right: 50px;
}

#content .archives li h3 a
{
    color:#0089c5;
    margin:0;
    font:bold 15px ProximaNova-Bold, arial, helvetica, sans-serif;
}

#content .archives .items{
    height:1%;
    overflow:hidden;
    color:#99999d;
    font:12px arial, helvetica, sans-serif;
}
#content .archives .item{
    overflow:hidden;
    padding:0;
    margin-bottom: 20px;
}
#content .archives .pdf{
    padding-left:67px;
    background:url(../images/sprites.png) no-repeat;
}

#content .archives .png{
    padding-left:67px;
    background:url(../images/png.png) no-repeat;
}

#content .archives .jpeg{
    padding-left:67px;
    background:url(../images/jpeg.png) no-repeat;
    background-position: -3px 0;
    background-size: 62px;
}

#content .archives .gif{
    padding-left:67px;
    background:url(../images/gif.png) no-repeat;
}

#content .archives .tiff{
    padding-left:67px;
    background:url(../images/tiff.png) no-repeat;
}

#content .archives .pptx{
    padding-left:67px;
    background:url(../images/ppt.png) no-repeat;
}

#content .archives .xlsx{
    padding-left:67px;
    background:url(../images/sprites.png) no-repeat 0 -108px;
}
#content .archives .docx{
    padding-left:67px;
    background:url(../images/sprites.png) no-repeat 0 -220px;
}
#content .archives .title{
    overflow: hidden;
    padding:0 0 15px;
    margin-top: 0;
}
#content .archives .title h3{
    float:left;
    color:#000;
    margin:0 15px 0 0;
    font:bold 15px arial, helvetica, sans-serif;
}
#content .archives .label{
    float:left;
    color:#828282;
    font:10px/17px arial, helvetica, sans-serif;
    padding:0 11px;
    background:#fafafa;
    border:1px solid #e0e0e0;
    margin:0 6px 0 0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    position:relative;
}
#content .archives .label span{
    display:block;
    border-top:2px solid #ffd200;
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px;
    border-radius:4px 4px 0 0;
    margin:0 -11px;
    padding:0 11px 2px;
    line-height:13px;
}
#content .archives .delete, .fields-list .remove{
    float:left;
    text-indent:-9999px;
    background:url(../images/sprites.png) 0 -330px;
    width:13px;
    height:15px;
    margin:2px 0 0 4px;
}

.list-value-field{
    /*width: 270px;*/
}

.fields-list .list-value-field .txt{
    /*float: none;*/
    /*width: 90%;*/
}
.fields-list .list-value-field .remove{
    /*float: right;*/
    cursor: pointer;
}


#content .archives h4{
    margin:0 0 6px;
    text-transform:uppercase;
    color:#616161;
    font:11px arial, helvetica, sans-serif;
}
#content .archives p{margin-top: 0;}
#content .archives p a{
    text-decoration:underline;
    color:#0089c5;
}
#content .archives p a:hover{text-decoration:none;}
.pager{
    overflow:hidden;
    margin:0;
    border-left:1px solid #ddd;
    line-height:26px;
    font-size:14px;
}

.pager li{float:left;}
.pager a{
    float:left;
    background:#fff;
    width:30px;
    color:#666;
    text-align:center;
    border:1px solid #ddd;
    border-left-style:none;
}
.pager .active a,
.pager a:hover{
    text-decoration:none;
    color:#fff;
    background:#2986c6;
}
.pager .active a{font-weight:bold;}
.heading .holder{
    height:1%;
    overflow:hidden;
    color:#4a4a4a;
    font:14px/18px arial, helvetica, sans-serif;
}
.createmeeting-form .submit,
.heading .btn{
    float:right;
    display: inline-block;
    vertical-align: top;
    font:bold 12px/38px arial, helvetica, sans-serif;
    background:#008ac6 url(../images/sprites-icos.png) no-repeat 11px -1686px;
    padding:0 17px 0 39px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#fff;
    margin:0 0 0 40px;
    border:1px solid #008ac6;
    text-transform:uppercase;
    position:relative;
    min-height: 40px;
}

.submit + .submit, .createmeeting-form .submit + .submit{
    margin-left: 10px;
}
#member_edit_btn {
    margin: 0 0 0 15px;
}

.heading .btn.btn-indent{
    padding: 1px 17px 1px 39px;
    margin: 0 -75px 0 0;
}

.heading .btn.member-btn-indent{
    padding: 1px 17px 1px 39px;
    margin: 0 5px 0 0;
}


.createmeeting-form .submit:hover,
.heading .btn:hover{
    text-decoration:none;
    border-color:#025a80;
}
.heading .holder h2{
    float: none;
    text-transform: uppercase;
    font: 30px ProximaNova-Semibold, arial, helvetica, sans-serif;
    margin: 0 0 12px;
    color: #0089c5;
}
.heading .holder p{margin:0 0 14px;}

.heading .holder .button-wrap {
    float: right;
}

.bar{
    padding:16px 10px;
    overflow:hidden;
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    margin:0 0 20px;
}
.bar .browse-by{
    /* float:left; */
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.sort-list{
    float:right;
    margin:6px 0 0;
}
.sort-list li{
    float:left;
    margin:0 0 0 10px;
    width:17px;
    height:19px;
}
.sort-list a{
    display:block;
    background:url(../images/sprites.png) 0 -432px;
    text-indent:-9999px;
    overflow:hidden;
    height:100%;
}
.sort-list a:hover{background-position:0 -1015px;}
.sort-list .grid-view{background-position:-22px -432px;}
.sort-list .grid-view:hover{background-position:-27px -1015px;}
.member{
    overflow:hidden;
    border-bottom:1px solid #ebebeb;
    background:#fff;
    padding:20px 32px 20px 12px;
}
.member-i{background:#fafafa;}
.member .photo{
    float:left;
    margin:0 27px 0 0;
}
.member .photo img{
    display:block;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
}
.member .text{
    height:1%;
    overflow:hidden;
}
.member .contacts{
    float:right;
    margin:8px 0 0;
    width:26px;
}
.member .contacts li{
    overflow:hidden;
    margin:0 0 10px;
}
.member .contacts a.email-l, .bar a.email-l, .meeting-detail a.email-l{
    display:block;
    text-indent:-9999px;
    background:url(../images/sprites-icos.png) no-repeat 0 -1613px;
    overflow:hidden;
}

.export {
    padding: 30px 32px 0 12px;
}

.export .export-xls,
.export .export-pdf {
    font: 12px/14px arial, helvetica, sans-serif;
    color: #008ac6;
}

.export .export-xls {
    border-right: 2px solid #ebebeb;
    padding-right: 10px;
}

.export .export-pdf {
    padding-left: 7px;
}

.meeting-detail a.email-l{
    width: 30px;
    height: 20px;
}

.bar a.email-l{
    display: inline-block;
    vertical-align: middle;
    text-indent: 33px;
    background: url(../images/sprites-icos.png) no-repeat 0 -1614px;
    /* overflow: hidden; */
    height: 18px;
/*     margin-top: 5px;
margin-bottom: -5px; */
    color: #9c9b9b;
    text-decoration: none;
}

.member .contacts a.unlock{
    display:block;
    text-indent:-9999px;
    background: url(../images/lock.png) no-repeat 0;
    overflow: hidden;
    width: 29px;
    height: 29px;
}

.member .contacts .email-l{height:19px;}
.member .contacts .email-l:hover{background-position:0 -1761px;}
.member .contacts .vcard{
    height:20px;
    background-position:0 -1633px;
}
.member .contacts .vcard:hover{background-position:0 -1790px;}
.member .contacts > li a{
    height:26px;
    text-indent: -9999px;
    display: block;
    border-radius: 5px;
}
.member .contacts a.facebook{
    background: url(../images/social-media-icons.png) no-repeat;
}
.member .contacts a.facebook:hover{
    background-position: 0 -104px;
}
.member .contacts a.linkedin{
    background: url(../images/social-media-icons.png) no-repeat 0 -52px;
}
.member .contacts a.linkedin:hover{
    background-position: 0 -156px;
}
.member .contacts a.twitter{
    background: url(../images/social-media-icons.png) no-repeat 0 -78px;
}
.member .contacts a.twitter:hover{
    background-position: 0 -182px;
}
.member .contacts a.hyperlink{
    background: url(../images/social-media-icons.png) no-repeat 0 -26px;
}
.member .contacts a.hyperlink:hover{
    background-position: 0 -130px;
}
.members-list h3,
.member h3{
    margin:0;
    text-transform:uppercase;
    font:14px ProximaNova-Bold, arial, helvetica, sans-serif;
    color:#333;
}
.members-list h4,
.member h4{
    margin:0 0 10px;
    color:#4a4a4a;
    font:13px arial, helvetica, sans-serif;
}
.member dl{
    overflow:hidden;
    margin:0 0 12px;
    height:1%;
    font:12px/20px arial, helvetica, sans-serif;
}
.member dt{
    float:left;
    color:#9c9b9b;
    min-width:110px;
    clear:left;
}
.member dd{
    float:left;
    margin:0;
    color:#333;
}

ul.meet-list {
    list-style: none;
    margin: 0;
    width: 60%;
    display: inline-block;
}

.meet-list-map {
    width: 34%;
    display: inline-block;
    vertical-align: top;
}

ul.meet-list li {
    padding: 0;
    background: none;
    margin-bottom: 20px;
}

ul.meet-list li:last-child {
    margin-bottom: 0;
}

ul.meet-list li:after {
    content:"";
    width: 100%;
    height: 0;
    display: block;
    clear: both;
    float: none;
}

ul.meet-list li .name-meet {
    float: left;
    width: 120px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

ul.meet-list li .cont-meet {
    overflow: hidden;
}

.billing-form .submit,
.fields .btns .btn,
.committee .btn,
.members-list .btn,
.member .btn{
    display:block;
    width:184px;
    font:13px/28px ProximaNova-Regular, arial, helvetica, sans-serif;
    text-align:center;
    color:#fff;
    text-transform:uppercase;
    border:1px solid #008ac6;
    background:#008ac6;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    position:relative;
}

.list .member .btn {
    width: 160px;
}

.list.grid .member .btn {
    width: 184px;
}

.billing-form .submit:hover,
.fields .btns .btn:hover,
.committee .btn:hover,
.members-list .btn:hover,
.member .btn:hover{
    border-color:#025a80;
    text-decoration:none;
}
.members-list{overflow:hidden;}
.members-list li{
    border:1px solid #e9e9e9;
    margin:0 11px 11px 0;
    background:#f4f4f4;
    width:186px;
    padding:9px 8px 0;
    height:216px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    float:left;
    position:relative;
}
.members-list .photo{
    display:block;
    margin:0 0 10px;
}
.members-list .holder{overflow:hidden;}
.members-list .email-l{
    float:right;
    margin:5px 0 0 10px;
    width:22px;
    height:16px;
    background:url(../images/sprites-icos.png) no-repeat 0 -1729px;
    text-indent:-9999px;
    overflow:hidden;
}

.members-list .unlock{
    float:right;
    margin:5px 0 0 10px;
    width:22px;
    height:16px;
    background:url(../images/lock.png) no-repeat 0 -1729px;
    text-indent:-9999px;
    overflow:hidden;
}

.members-list h3{margin:0 0 2px;}
.breadcrumbs{
    overflow:hidden;
    padding:0 0 20px;
    color:#4a4a4a;
}
.breadcrumbs li{
    float:left;
    background:url(../images/sprites.png) no-repeat 0 -579px;
    padding:0 6px 0 11px;
}
.breadcrumbs a{color:#008ac6;}
.breadcrumbs li:first-child{
    background:none;
    padding-left:0;
}

.content {
    float:left;
    width:75%;
    color:#4a4a4a;
    font:14px/20px ProximaNova-Regular, arial, helvetica, sans-serif;
    /*border-top:1px solid #ebebeb;*/
    padding:20px 0 0;
}

.content h2{
    float:none;
    margin:0 0 16px;
}

.content h3{
    text-transform:uppercase;
    margin:0 0 8px;
    font:14px ProximaNova-Bold, arial, helvetica, sans-serif;
    color:#333;
}
.content p{margin:0 0 20px;}
.content ul{padding:0 0 8px 20px;}
.content li{
    background:url(../images/sprites.png) no-repeat -47px -602px;
    padding:0 0 8px 22px;
}
.content .pdf{
    float:left;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:0 0 0 36px;
    margin-top:20px;
    background:url(../images/sprites.png) no-repeat 0 -472px;
}
.aside{
    float:right;
    width:20%;
    margin:0;
    border-top:1px solid #ebebeb;
    padding:25px 0 0;
    text-align:center;
}
.aside h4{
    text-transform:uppercase;
    margin:0 0 18px;
    color:#333;
    font:13px ProximaNova-Semibold, arial, helvetica, sans-serif;
}
.aside .box{
    font-size:13px;
    padding-bottom:16px;
    border-bottom:1px solid #ebebeb;
    margin:0 0 20px;
}
.aside .box li{padding:0 0 8px;}
.aside .box li a{
    color:#008ac6;
    display:inline-block;
    line-height:22px;
}
.aside .box .doc,
.aside .box .pdf{
    line-height:32px;
    padding:0 0 0 42px;
    background:url(../images/sprites.png) no-repeat 0 -472px;
}
.aside .box .doc{background-position:0 -528px;}

.createmeeting-form li {
    margin: 0;
    padding: 0 0 23px;
}

.fields-list li {
    margin: 0;
    padding: 0 0 23px;
    display: inline-block;
    width: 50%;
    float: left;
}

.fields-list li:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    float: none;
    clear: both;
}

.createmeeting-form li {
   overflow: auto;
}

.fields-list li:after,
.createmeeting-form li:after{content:"";display:block;clear:both;}
.datepicker,
.fields-list .txt,
.billing-form .txt,
.createmeeting-form .txt{
    background:none;
    border:1px solid #dcdcdc;
    font-size:13px;
    padding:6px 9px;
    width:197px;
    margin:0;
    float:left;
    position:relative;
}
.billing-form .focus .txt,
.addmember-form .datepicker.focus,
.fields-list .focus .txt,
.createmeeting-form .focus .txt{
    border-color:#008ac6;
    -webkit-box-shadow:0 0 3px #008ac6;
    -moz-box-shadow:0 0 3px #008ac6;
    box-shadow:0 0 3px #008ac6;
}

span.label,
.createmeeting-form label{
    float:left;
    text-align:left;
    width:115px;
    font:bold 13px/28px arial, helvetica, sans-serif;
    color:#4a4a4a;
    margin:0 16px 0 0;
}
.fields-list select,
.createmeeting-form select{width:216px;}
.createmeeting-form .label-to{
    text-align:center;
    width:45px;
    margin:0;
}
#meeting-name{
    font:24px ProximaNova-Regular, arial, helvetica, sans-serif;
    padding:10px 10px 8px;
    width:609px;
    color:#4a4a4a;
    margin-bottom:7px;
}
#to, #from{width:90px;}
#location{width:479px;}
.createmeeting-form .add-holder{
    height:56px;
    display:table;
    margin-bottom:30px;
    padding:0;
}

.add-holder .label{
    display:table-cell;
    vertical-align:middle;
    line-height:16px;
    float:none;
}
.add-holder .holder{
    float:left;
    margin:0 20px 0 15px;
    width:464px;
    font:13px/54px arial, helvetica, sans-serif;
    color:#9b9b9b;
    border:1px dashed #bfbfbf;
    padding:0 0 0 34px;
    background:url(../images/sprites.png) no-repeat 9px -621px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    position:relative;
}
.add-holder p{margin:0;}
.add-holder p a{
    color:#0089c5;
    text-decoration:underline;
}
.add-holder p a:hover{text-decoration:none;}
.createmeeting-form .check-holder{
    overflow:hidden;
    padding:0 0 20px 130px;
}
.createmeeting-form .check-holder label{
    font:13px/18px arial, helvetica, sans-serif;
    width:auto;
    text-align:left;
}
.createmeeting-form ul{padding-bottom:14px;}
.createmeeting-form .submit{
    float:left;
    margin:0;
}
.calendar-holder .heading{padding:0 0 14px;}
.calendar-holder .date{
    float:left;
    text-transform:uppercase;
    width:220px;
    margin:5px 0 0;
}
.calendar-holder .date strong{
    float:left;
    color:#0089c5;
    font:67px/38px ProximaNova-Bold, arial, helvetica, sans-serif;
    margin:0 7px 0 0;
}
.calendar-holder .date span{
    color:#0089c5;
    font:24px/20px ProximaNova-Regular, arial, helvetica, sans-serif;
}
.calendar-holder .date em{
    font:14px/18px ProximaNova-Regular, arial, helvetica, sans-serif;
    color:#3f3f3e;
}
.calendar-holder .bar{
    padding:12px 0;
    margin:0 0 33px;
}
.calendar-holder .bar strong{
    display:block;
    font:bold 28px/37px ProximaNova-Bold, arial, helvetica, sans-serif;
    color:#747474;
    text-align:center;
    text-transform:uppercase;
}
.calendar-holder .next,
.calendar-holder .prev{
    float:left;
    text-indent:-9999px;
    background:url(../images/sprites.png) no-repeat 0 -724px;
    width:42px;
    height:37px;
    overflow:hidden;
}
.calendar-holder .next{
    float:right;
    background-position:0 -766px;
}
.committee{
    border-bottom:1px solid #ebebeb;
    overflow:hidden;
    padding:24px 12px 30px;
    color:#2d2d2d;
    font:12px/18px arial, helvetica, sans-serif;
}
.committee-i{background:#fafafa;}
.committee .text{
    float:left;
    width:80%;
}
.committee .text h3{
    text-transform:uppercase;
    margin:0 0 6px;
    font:14px ProximaNova-Bold, arial, helvetica, sans-serif;
}
.committee .text h3 a{color:#333;}
.committee .text p{margin:0 0 20px;}
.committee .info{
    float:right;
    width:15%;
    margin:26px 0 0 2%;
    border-left:1px solid #ebebeb;
    padding:0 0 0 2%;
    color:#333;
}
.committee .info dt{margin:0 0 6px;}
.committee .info dd{margin:0;}
.committee .info dd strong{
    display:block;
    text-transform:uppercase;
    font-size:14px;
    color:#333;
}
.committee .footer{
    overflow:hidden;
    padding:6px 0 0;
}
.committee .btn{
    margin:0 29px 0 0;
    float:left;
}
.committee footer dl{
    float:left;
    margin:0;
    line-height:30px;
    color:#2d2d2d;
}
.committee footer dt{
    float:left;
    margin:0 8px 0 0;
}
.committee footer dd{
    float:left;
    margin:0;
}
.committee footer dd a{color:#008ac6;}
.bio .breadcrumbs{
    text-align:center;
    border-bottom:1px solid #ebebeb;
    margin:0 0 34px;
    float:none;
}
.bio .breadcrumbs li{
    float:none;
    display:inline-block;
}
.bio-holder{
    margin:0 auto;
    width:530px;
    font:14px/27px ProximaNova-Regular, arial, helvetica, sans-serif;
    color:#4a4a4a;
    text-align:justify;
}
.bio-holder h2{
    margin:0;
    text-transform:uppercase;
    float:none;
    text-align:center;
}
.bio-holder h3{
    text-align:center;
    font:18px/24px ProximaNova-Regular, arial, helvetica, sans-serif;
    margin:0 0 16px;
}
.bio-holder .photo{margin:0 0 26px;}
.bio-holder .photo img{
    display:block;
    margin:0 auto;
    border:1px solid #d0d0d0;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    position:relative;
}
.bio-holder h3 span{text-transform:uppercase;}
.bio-holder h4{
    margin:0 0 16px;
    font:24px/27px ProximaNova-Light, arial, helvetica, sans-serif;
}
.bio-holder p{margin:0 0 24px;}
.bio-holder dl{margin:0 0 15px 0; line-height: 20px;}
.bio-holder dt{
    font-family:ProximaNova-Bold, arial, helvetica, sans-serif;
    display:inline;
}
.bio-holder dd{
    margin:0 0 0 4px;
    display:inline;
}
.bio-holder .divider {
    margin:0 10px;
}
.bio-holder .member-bio {margin: 0 0 40px 0;}
.bio-holder a{color:#008ac6;}
.bio-holder .contacts{padding: 5px 0 0 0;}
.bio-holder .contacts li{
    padding:0 0 8px;
    overflow:hidden;
}
.bio-holder .contacts a{
    padding:0 0 0 42px;
    height:26px;
    float:left;
}
.bio-holder .contacts a.email{
    background:url(../images/sprites.png) no-repeat 0 -865px;
}
.bio-holder .contacts a.facebook{
    background:url(../images/social-media-icons.png) no-repeat 0 -104px;
}
.bio-holder .contacts a.linkedin{
    background:url(../images/social-media-icons.png) no-repeat 0 -156px;
}
.bio-holder .contacts a.twitter{
    background:url(../images/social-media-icons.png) no-repeat 0 -182px;
}
.bio-holder .contacts a.hyperlink{
    background:url(../images/social-media-icons.png) no-repeat 0 -130px;
}
.bio-holder .contacts .vcard{
    background-position:0 -909px;
    line-height:20px;
}
.bio-holder .contacts .social-media-link{
    background-position:0 -952px;
    line-height:26px;
}
.dashboard h2{
    margin:0 0 20px;
    color:#0089c5;
    font:21px arial, helvetica, sans-serif;
}
.dashboard .list{
    overflow:hidden;
    padding:0 0 32px;
    text-align:center;
    text-transform:uppercase;
    font:12px/14px ProximaNova-Bold, arial, helvetica, sans-serif;
}
.dashboard .list a{
    color:#5d5d5d;
    display:block;
    height:100%;
    overflow:hidden;
}
.dashboard .list a:hover{
    text-decoration:none;
    color:#333;
}
.dashboard .list span{
    margin:28px auto 8px;
    background:url(../images/sprites-icos.png) no-repeat;
    position:relative;
    height:26px;
    display:block;
    width:26px;
}
.dashboard .meetings-i span{background-position:0 -1857px;}
.dashboard .meetings-i:hover span{background-position:0 -2010px;}
.dashboard .agenda-i span{
    background-position:0 -1883px;
    width:20px;
}
.dashboard .agenda-i:hover span{background-position:0 -2036px;}
.dashboard .minutes-i span{
    background-position:0 -1909px;
    width:21px;
}
.dashboard .minutes-i:hover span{background-position:0 -2062px;}
.dashboard .documents-i span{
    background-position:0 -1935px;
    width:20px;
}
.dashboard .documents-i:hover span{background-position:0 -2088px;}
.dashboard .adddocument-i span{background-position:0 -1961px;}
.dashboard .adddocument-i:hover span{background-position:0 -2114px;}
.dashboard .comments-i span{
    background-position:0 -1987px;
    height:23px;
    margin-bottom:11px;
}
.dashboard .comments-i:hover span{background-position:0 -2140px;}
.dashboard .list span em{
    position:absolute;
    left:15px;
    top:-8px;
    background:#0089c5;
    color:#f6f6f7;
    font:bold 14px/18px arial, helvetica, sans-serif;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    min-width:20px;
}
.dashboard .list strong{font-weight:normal;}
.dashboard .list li{
    border:1px solid #dbdbdb;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    position:relative;
    float:left;
    width:24%;
    height:95px;
    margin-left: 1.1%;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 );
}
.dashboard ul.list li.comments-i {
    float: right;
    margin-right: 0;
    margin-left: 0;}
.dashboard .list li:first-child{margin:0;}
.dashboard .list li:hover{
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}
.recent-activity tr:nth-child(2n) {
    background: #f0f0f0; /* Цвет фона */
   }

.recent-activity{padding:0 0 37px;}
.recent-activity h3{
    text-transform:uppercase;
    font:14px ProximaNova-Bold, arial, helvetica, sans-serif;
    margin:0 0 16px 24px;
    color:#494949;
}
.recent-activity table{
    border-collapse:collapse;
    border-style:none;
    table-layout:fixed;
    width:100%;
    padding:0;
    margin:0;
    background:#fafafa;
    color:#2d2d2d;
}
.recent-activity td{
    padding:0;
    margin:0;
    border-style:none;
    border-bottom:1px solid #ebebeb;
    height:60px;
    vertical-align:middle;
    font-size:12px;
}
.recent-activity .cell1{
    padding:0 0 0 14px;
    width:19%;
}
.recent-activity .cell2{
    padding:0 0 0 14px;
    width:18%;
}
.recent-activity .cell3{
    padding:0 0 0 14px;
    width:39%;
}
.recent-activity .cell4{
    text-align:right;
    width:19%;
    padding:0 16px 0 0;
}
.recent-activity .row td{background:#fefefe;}
.recent-activity .na{color:#b3b3b3;}
.recent-activity a{color:#0089c5;}
.recent-activity .separator{padding:0 7px;}
.recent-activity .pdf{
    float:left;
    background:url(../images/sprites.png) no-repeat 100% -472px;
    padding:0 64px 0 0;
    line-height:32px;
    white-space:nowrap;
    margin-top:10px;
}
.recent-activity .png{
    float: left;
    padding: 0 0 0 35px;
    line-height: 32px;
    white-space: nowrap;
    margin-top: 1px;
    background: url(../images/png.png) no-repeat;
    background-size: 27%;
}
.recent-activity .tiff{
    float: left;
    padding: 0 0 0 35px;
    line-height: 32px;
    white-space: nowrap;
    margin-top: 1px;
    background: url(../images/tiff.png) no-repeat;
    background-size: 61%;
}
.recent-activity .gif{
    float: left;
    padding: 0 0 0 35px;
    line-height: 32px;
    white-space: nowrap;
    margin-top: 1px;
    background: url(../images/gif.png) no-repeat;
    background-size: 24%;
}
.recent-activity .jpeg{
    float: left;
    padding: 0 0 0 35px;
    line-height: 32px;
    white-space: nowrap;
    margin-top: 1px;
    background: url(../images/jpeg.png) no-repeat;
    background-size: 46%;
}

.recent-activity .xlsx{
    float:left;
    padding:0 0px 0 32px;
    line-height:32px;
    white-space:nowrap;
    margin-top:10px;
    background:url(../images/sprites.png) no-repeat 0 -1045px;
}
.recent-activity .docx{
    float:left;
    padding:0 0 0 32px;
    line-height:32px;
    white-space:nowrap;
    margin-top:10px;
    background:url(../images/sprites.png) no-repeat 0 -528px;
}
input[type=text], input[type=password], input[type=file], textarea{-webkit-appearance:none;}
.textarea{
    float:left;
    width:80%;
    border:1px solid #dcdcdc;
}
.textarea img{
    display:block;
    width:100%;
    height:auto;
}
.createmeeting-form .create-committee{margin:0 0 0 127px;}
.upcoming-meetings{
    border-bottom:1px solid #ebebeb;
    color:#4a4a4a;
    font-size:14px;
    line-height:normal;
}
.upcoming-meetings li{
    border-bottom:1px solid #ebebeb;
    overflow:hidden;
    padding:24px 20px 18px 0;
}
.upcoming-meetings li:nth-child(even){background:#fafafa;}
.upcoming-meetings .download{
    color:#008ac6;
    font-size:13px;
    float:right;
    background:url(../images/sprites.png) no-repeat 50% 0;
    padding:70px 7px 0;
    text-align: center;
}

.upcoming-meetings .download a {
    color: #008ac6;
    text-decoration:underline;
}

.upcoming-meetings .download div {
    line-height: 24px;
}

.upcoming-meetings .download.hit-first {
    cursor: pointer;
}

.upcoming-meetings .download a:hover{text-decoration:none;}

.upcoming-meetings h3{
    margin:0 0 12px;
    color:#0089c5;
    font:15px ProximaNova-Semibold, arial, helvetica, sans-serif;
}
.upcoming-meetings h3 a{color:#0089c5;}
.upcoming-meetings dl{
    margin:0;
    overflow:hidden;
    line-height:normal;
}
.upcoming-meetings dt{
    float:left;
    margin:2px 10px 8px 0;
    font:12px ProximaNova-Semibold, arial, helvetica, sans-serif;
    text-transform:uppercase;
    color:#333;
    clear:left;
}
.upcoming-meetings dd{margin:0 0 8px;}
.upcoming-meetings .date{font-size:12px;}
.addmember-form:after{content:"";display:block;clear:both;}
.addmember-form .settings{
    float:right;
    margin:0;
    width:130px;
    font-size:13px;
    color:#4a4a4a;
    line-height:20px;
}
.addmember-form .settings dt{font-weight:bold;}
.addmember-form .settings dd{margin:6px 0 0;}
.addmember-form .settings a{color:#0089c5;}
.addmember-form .settings li{padding:0 0 6px;}
.addmember-form .picture{
    float:left;
    width:130px;
}
.addmember-form .picture .photo{margin:0 0 10px;}
.addmember-form .picture .photo img{
    display:block;
    height:auto;
    width:100%;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.add-photo{
    display:block;
    border:1px solid #d5d5d5;
    background:#f6f6f6 url(../images/sprites-icos.png) no-repeat 7px -2180px;
    padding-left:25px;
    color:#4a4a4a;
    font:11px/19px arial, helvetica, sans-serif;
}
.addmember-form .m1{
    width:100%;
    float:left;
}
.addmember-form .c1{
    width:100%;
    float:left;
}
.fields-list .txt {
    color: #4a4a4a;
    width: 250px;
}
.fields-list label{
    display: block;
    color:#4a4a4a;
    font: bold 13px/28px arial, helvetica, sans-serif;
}
.fields-list .special_class:after{
    content:" *";
    color: #dc0707;
}
.datepicker {
    width:75%;
    float:right;
}
.fields-list .selectArea .center{
    white-space:nowrap;
    overflow:hidden;
}
.fields-list textarea.txt{
    height:120px;
    resize:none;
}
.fields .btns{
    /*width:78.3%;*/
    /*float:right;*/
}
.fields .btns .holder{
    float: left;
    color:#bfbfbf;
    font-size:13px;
    line-height:18px;
}
.fields .btns .holder:first-child {
    width: 130px;
}
.fields .btns .holder:nth-child(2) {
    width: 200px;
    margin-left: 20px;
}
.fields .btns .btn{
    float:left;
    width:150px;
    line-height:36px;
    cursor:pointer;
    padding:0;
    font-weight:bold;
    min-height: 40px;
}
.fields .btns .holder .btn{
    display:block;
    float:none;
    width:100%;
    margin:0 0 12px;
    cursor:pointer;
}
.fields .btns p{margin:0;}
.fields .reset{
    color:#fb0000;
    text-decoration:underline;
    background:none;
    border-style:none;
    font-size:13px;
    padding:0;
    cursor:pointer;
    float:left;
    width:auto;
    /*margin:0 0 0 10px;*/
    height:36px;
}
.fields .btns .reset:hover{text-decoration:none;}
.fields .btns .holder:first-child .reset{
    height:auto;
    margin:0 auto;
    width:50px;
    display:block;
    float:none;
}
.bar dl{
    overflow:hidden;
    margin:16px 0 -2px -10px;
    color:#333;
    font-size:14px;
}
.bar dt{
    float:left;
    margin:0 10px 18px 0;
    font-weight:bold;
    clear:left;
}
.bar dd{
    float:left;
    margin:0;
}
.settings-section{
    border-top:1px solid #ebebeb;
    overflow:hidden;
    padding:26px 0 10px;
    color:#333;
    font-size:14px;
    line-height:20px;
}
.bar + .settings-section{
    border-style:none;
    padding-top:6px;
}
.settings-section p{margin:0;}
.settings-section h3{
    margin:0 0 20px;
    font:bold 16px/18px arial, helvetica, sans-serif;
    color:#0089c5;
}
.settings-section .list li{
    overflow:hidden;
    padding:0 0 20px;
}
.settings-section .list h4{
    margin:0;
    font:bold 14px/20px arial, helvetica, sans-serif;
}
.settings-section .list a{
    color:#0089c5;
    text-decoration:underline;
}
.settings-section .list a:hover{text-decoration:none;}
.fields-list li p{
    float:right;
    clear:right;
    margin:5px 0 0;
    color:#4a4a4a;
    font-size:11px;
    width:77%;
}
.fields-list .conf-pass{line-height:18px;}
.datepicker .txt{
    padding:0;
    border-style:none;
    width:100%;
}
.addmember-form .datepicker .txt{
    border-color:#008ac6;
    -webkit-box-shadow:0 0 0 #fff;
    -moz-box-shadow:0 0 0 #fff;
    box-shadow:0 0 0 #fff;
}
.datepicker{position:relative;}
.datepicker .picker{
    position:absolute;
    right:0;
    top:0;
    width:30px;
    height:28px;
    background:#fff url(../images/sprites-icos.png) no-repeat 2px -2210px;
    border-left:1px solid #e6e6e6;
    cursor:pointer;
}
.fields-list .end-date > span,
.fields-list .start-date > span{
    width:270px;
}
.fields-list .end-date .datepicker,
.fields-list .start-date .datepicker{width:164px;}
.fields-list .end-date label,
.fields-list .start-date label{font-weight:normal;}
.billing-form .cycle,
.billing-form .info{
    overflow:hidden;
    padding:20px 12px 20px 0;
    border-top:1px solid #e6e6e6;
}
.billing-form .contact,
.billing-form .title{
    float:left;
    width:20%;
    margin-right:2%;
}
.billing-form .title h3{
    text-transform:uppercase;
    margin:0 0 3px;
    font:300 15px ProximaNova-Regular, arial, helvetica, sans-serif;
}
.billing-form .title p{
    margin:0;
    color:#575757;
    font:12px/18px ProximaNova-Regular, arial, helvetica, sans-serif;
}
.billing-form .contact{
    font-size:13px;
    line-height:18px;
}
.billing-form .contact strong{
    display:block;
    margin:0 0 5px;
}
.billing-form .contact address{
    margin:0 0 10px;
    font-style:normal;
}
.billing-form .contact a{color:#0089c5;}
.creditcard-info{
    float:right;
    width:48%;
    padding:15px 10px;
    background:#fafafa;
    border:1px solid #e0e0e0;
    -wedkit-border-radius:5px;
    border-radius:5px;
    position:relative;
}
.creditcard-info .number{margin:0 0 12px;}
.creditcard-info .number:after{content:"";display:block;clear:both;}
.creditcard-info label{
    font-weight:bold;
    font-size:13px;
    float:left;
    margin:0 0 8px;
}
.billing-form .txt{
    background:#fff;
    clear:left;
}
.billing-form #creditcardnumber{
    font-weight:bold;
    width:96%;
}
.billing-form .expiration{
    float:left;
    width:60%;
}
.billing-form .selects{
    overflow:hidden;
    clear:both;
}
.billing-form .selectArea{
    background:#fff;
    margin-right:4px;
}
.billing-form #expiration{width:124px;}
.billing-form #year{width:90px;}
.billing-form .csv{
    float:right;
    width:35%;
}
.billing-form #csv{width:88%;}
.creditcard-info .cards{
    position:absolute;
    right:10px;
    top:8px;
}
.creditcard-info .cards li{
    float:left;
    margin:0 0 0 6px;
}
.billing-form .cycle .text{
    float:right;
    width:78%;
    font-size:13px;
    line-height:20px;
}
.billing-form .cycle .text p{margin:0;}
.billing-form .cycle .radios{padding:0 0 18px;}
.billing-form .cycle .radios li{padding:0 0 6px;}
.billing-form .cycle .radios li:after{content:"";display:block;clear:both;}
.billing-form .cycle .radios input{
    float:left;
    margin:3px 10px 0 0;
    padding:0;
    height:16px;
    width:16px;
}
.billing-form > ul{
    border-bottom:1px solid #e6e6e6;
    margin-bottom:28px;
    padding-bottom:14px;
}
.billing-form .submit{
    float:left;
    width:198px;
    padding:0;
    height:36px;
    cursor:pointer;
    font-family:ProximaNova-Bold, arial, helvetica, sans-serif;
}
.content-box{
    float:none;
    width:100%;
    border-style:none;
}
.content-box .news-photo{
    float: left;
    margin-right: 20px;
}

.content-box h2{font-size:28px;}
ul.committee-members{
    overflow:hidden;
    padding:0;
}
.committee-members li{
    background:none;
    padding:0;
    margin:0 54px 0 0;
    float:left;
}
.committee-members .img{
    float:left;
    margin:0 0 4px;
    border:1px solid #d0d0d0;
    position:relative;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.committee-members span{
    float:left;
    clear:left;
    font:13px arial, helvetica, sans-serif;
}
.committee-members span a{color:#008ac6;}
.sections .section{
    overflow:hidden;
    border-bottom:1px solid #ebebeb;
    padding:0 0 25px;
    margin:0 0 25px;
}
.content .sections h3{
    color:#333;
    font-size:13px;
    margin:0 0 14px;
}
.sections .section .list{
    overflow:hidden;
    padding:0;
    font:12px arial, helvetica, sans-serif;
}
.sections .section .list li{
    float:left;
    background:url(../images/sprites-icos.png) no-repeat 0 -2341px;
    padding:0 10px;
}
.sections .section .list li:first-child{
    background:none;
    padding-left:0;
}
.sections .section .list a{color:#008ac6;}
.form-holder{
    width:430px;
    margin:68px auto 129px;
}
.form-holder header{
    text-align:center;
    min-height:65px;
}
.form-holder header h2{
    color:#393939;
    text-align:center;
    margin:0;
    text-transform:uppercase;
    font:30px ProximaNova-Semibold, arial, helvetica, sans-serif;
    letter-spacing:1px;
}
.account-list ul{
    font:bold 15px/43px arial, helvetica, sans-serif;
    text-align:center;
}
.account-list li{
    overflow:hidden;
    padding:18px 0 0;
}
.account-list li:first-child{padding:0;}
.account-list a:not(.reactivate) {
    border:1px solid #ddd;
    display:block;
    overflow:hidden;
    color:#008ac6;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.account-list-img{
    background:#fdfdfd url(../images/sprites.png) no-repeat 1px -1091px;
}
.account-list a:hover{color:#00c8ff;}
@media screen and (max-width:1100px){
    .datepicker,
    .fields-list .txt{
        margin:0 0 0 20px;
        width:85%;
        float:left;
    }
    .fields-list label{
        margin:0 0 7px 20px;
        text-align:left;
        width:auto;
        line-height:normal;
    }
    .fields .btns,
    .fields-list .selectArea,
    .fields-list select{
        width:89.5% !important;
        margin:0 0 0 20px;
        float:left;
    }
    .fields-list li p{
        margin-left:20px;
        float:left;
        width:auto;
    }
}

.create-document-form label {
    float: left;
    text-align: left;
    width: 140px;
    font: bold 13px/28px arial, helvetica, sans-serif;
    color: #4a4a4a;
    margin: 0 7px 0 0;
}

#logo-img{
    float:left;
    margin: -16px 10px 0 -17px;
    text-indent:-9999px;
    width: 55px;
    height: 50px;
}

#content #logo-form .archives p a[data-doc-type="logo"]{
    display: none;
}

#footer{
    background:#3f3f3e;
	font:10px ProximaNova-Regular, arial, helvetica, sans-serif;
	color:#b4b4b4;
	text-align:center;
	text-transform:uppercase;
    margin-top: -55px;
    height: 55px;
}
#footer .wrapper{
	padding:22px 0;
    text-align: left;
	overflow:hidden;
    margin:0 auto 0 250px;
}
#footer .logo{
	background:url(../images-external/logo-footer.png);
	margin:0 auto 46px;
	width:51px;
	height:55px;
	float:none;
	display:block;
}
#footer a{color:#008ac6;}
#footer nav{
	text-align:center;
	margin:0 0 46px;
	padding:0 0 38px;
	border-bottom:1px solid #484848;
	font-size:15px;
	letter-spacing:1px;
}
#footer nav li{
	display:inline;
	background:url(../images-external/separator.png) no-repeat 0 3px;
	padding:0 4px 0 17px;
}
#footer nav li:first-child{
	background:none;
	padding-left:0;
}
#footer .bar p{margin:0 0 18px;}

#page_wrapper {
    z-index: -1;
}
#main,
.wrapper{
	max-width:1026px;
/*     min-width:768px; */
	margin:0 auto;
}
header, footer, article, section, hgroup, nav, figure{display:block;}

.ls-wrapper {
    min-height: 100%;
    height: auto !important;
}

.substrate-footer{
    clear: both;
    height: 55px;
    width: 100%;
}

.logo-img{
    float: left;
    width: 36px;
    height: 43px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    border-radius: 1px;
    margin: 1px;
}

.fields-list .array-field{
    margin-bottom: 7px;
}

.list.container.news dl {
    margin-bottom: 20px;
}

@media screen and (max-width:850px){

    #brand .name-menu {
        display: none;
    }

    #brand{
        width:80px;
    }

    #aside{
        width:80px;
    }
    #aside .name-menu {
        display: none;
    }
    #content{
        border-left: 80px solid #363636;
        padding:25px 10px 50px;
    }

    #meeting-name{width:578px;}
    #location{width:446px;}

    #footer .wrapper{
        margin:0 auto 0 80px;
    }
}

.meeting-docs-archive {
    padding: 23px 10px 25px 10px;
    border-top: none;
}

#filter-by-label {
    padding-left: 40px;
}

.meeting .card {
    float: left;
}

.meeting .docs {
    margin: 0 0 0 50%;
}

.meeting {
    padding: 0;
    margin: 0;
}

#content .archives .docs li {
    border-bottom: none;
    padding: 0;
}

.meeting .docs .item {
    margin: 0;
}

.meeting .card h3 {
    color: #0089c5;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.meeting .card h4 {
    text-decoration: underline;
    font-size: 12px;
}

#content .archives li.meeting {
    padding: 15px 0 6px;
}

#content .archives .meeting .functional-button {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    text-align: left;
}

#content .archives .meeting .functional-btn {
    visibility: visible;
    width: 150px;
}

#content .archives .meeting .title h3 {
    display: block;
}

#content .archives .meeting a.download {
    text-indent: 0;
    width: 60px;
    height: 16px;
    padding: 0 7px 0 0;
    color: #0089c5;
    text-decoration: underline;
}
#content .archives .meeting a.edit {
    text-indent: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-size: 11px;
	padding: 2px 18px;
	text-decoration: none;
    background: none;
    width: 20px;
    height: 12px;
}

#content .archives .meeting a.delete {
    background: url(../images/sprites.png) no-repeat 0 -330px;
    width: 14px;
    height: 16px;
    padding: 0;
}
#archives .meeting .items .functional-button .download {
    background: none;
}

#content .archives .meeting .title {
    padding: 0 0 15px 5px;
}

#content .archives .meeting .item {
    padding-bottom: 0;
    margin-bottom: 20px;
}

#content .archives .items .revisions {
    float: left;
}

#content .archives .items .revisions ul {
    margin: 24px 0 0 0;
}

#content .archives .items .revisions li {
    border-bottom: none;
    padding: 0;
    color: rgb(77, 77, 77);
    font-size: 12px;
    line-height: 18px;
}

#content .archives .items .revisions li a {
    color: rgb(77,77,77);
    text-decoration: underline;
}

.pull-right {
    float: right;
}