.creditcard-info {
    min-width: 550px;
}
.billing-form .title, .billing-form .contact {
    min-width: 200px;
}
.message {
    padding-bottom: 15px;
}

ul.message {
    padding-bottom: 30px;
}

div.k-dropzone {
    float: left;
    margin: 0 20px 0 15px;
    width: 464px;
    font: 13px/54px arial, helvetica, sans-serif;
    color: #9b9b9b;
    border: 1px dashed #bfbfbf;
    padding: 0 0 0 34px;
    background: url(../images/sprites.png) no-repeat 9px -621px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

div.k-dropzone em {
    visibility: visible;
}

div.k-upload-button {
    width: auto !important;
}
div.k-button {
    color: #0089c5 !important;
    text-decoration: underline;
    white-space: nowrap;
    border:0;
    background: none;
}
div.k-button:hover {
    text-decoration: none;
    background: none;
}
.txt.title {
    color: #4A4A4A;
    font: 24px "ProximaNova-Regular", "arial", "helvetica", sans-serif;
    margin-bottom: 7px;
    padding: 10px 10px 8px;
    width: 609px;
}

.txt.textarea {
    padding: 10px 10px 10px;
    width: 609px;
}

.txt.title-news {
    width: 78%;
}

.inline-form {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.k-textbox {
    width: 30% !important;
}
div.k-dropzone {
    margin-left: 0;
}
.k-upload-files {
    padding: 15px 0  0 125px;
    clear: both !important;
    border: 0 !important;
    background: none;
}
.error li, .errorlist li {
    vertical-align: middle;
    margin-left: 10px;
    color: red;
    height:10px;
    padding-bottom: 0px;
}
.error li {
    float: left;
}
.error {
    color: red;
}
.createmeeting-form .multiple {
    width: 30% !important;
}
.success {
    color: #008000;
}
.warning {
    color: #888800;
}
.k-multiselect {
    float: left;
}

.content .xlsx{
    float:left;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:0 0 0 36px;
    margin-top:20px;
    background:url(../images/sprites.png) no-repeat 0 -1045px;
}
.content .docx{
    float:left;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:0 0 0 36px;
    margin-top:20px;
    background:url(../images/sprites.png) no-repeat 0 -528px;
}

.aside .box .docx,
.aside .box .xlsx,
.aside .box .pdf{
    line-height:32px;
    padding:0 0 0 42px;
    margin-top:20px;
    background:url(../images/sprites.png) no-repeat 0 -472px;
}
.content .xlsx.custom{
    float: none;
    display: block;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:0 0 0 36px;
    margin-top:5px;
    margin-bottom: 5px;
    background:url(../images/sprites.png) no-repeat 0 -1045px;
}
.content .docx.custom{
    float: none;
    display: block;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:0 0 0 36px;
    margin-top:5px;
    margin-bottom: 5px;
    background:url(../images/sprites.png) no-repeat 0 -528px;
}

.aside .box .docx{background-position:0 -528px;}
.aside .box .xlsx{background-position:0 -1045px;}

.header-meet {
    margin-bottom: 20px;
}

.header-meet:after {
    content:"";
    clear: both;
    float: none;
    width: 100%;
    height: 0;
    display: block;
}

.header-meet h2 {
    margin-top: 10px;
    max-width: 100%;
    font-size: 21px;
    font-weight: bolder;
}

.header-meet .buttons-wrap {
    float: right;
    max-width: 60%;
    text-align: right;
}

.content .btn{
    display: inline-block;
    vertical-align: top;
    float:right;
    font:bold 12px/38px arial, helvetica, sans-serif;
    background:#008ac6 url(../images/sprites-icos.png) no-repeat 11px -1686px;
    padding:0 17px 0 39px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#fff;
    margin:0 10px 0 20px;
    border:1px solid #008ac6;
    text-transform:uppercase;
    /* position:absolute;
    right: 25px;
    top: 27px; */
}

.heading .btn.past-meetings{
    background: #008ac6;
    padding:0 17px 0 17px;
}

.content .next, .content .previous {
    display: inline-block;
    vertical-align: top;
    font: bold 16px/38px arial, helvetica, sans-serif;
    padding: 16px 34px 19px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #008ac6;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border:1px solid #eee;
    width: 35%;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.content .next {
    width: 47%;
    margin-left: -5px;
}

.content .previous {
    border-radius: 0;
    border-left: 0;
    text-align: left;
    padding-left: 55px;
}

.content .next:hover:after {
    background: transparent url("../images/sprites.png") no-repeat scroll 10px -1145px;
}

.content .next:hover {
    background-color: #0089ca;
    border-color: #0089ca;
    color: #fff;
}

.content .next:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px;
    background: transparent url("../images/sprites.png") no-repeat scroll 10px -1175px;
    left: 38%;
    top: 4px;
}

.content .previous:hover {
    background-color: #0089ca;
    color: #fafafa;
}

.content .previous.visual {
    visibility: hidden;
}

.header-meet .buttons-wrap .btn:first-child {
    margin-left: 0;
    /*margin-bottom: 10px;*/
}

.header-meet .buttons-wrap .btn.publish-meeting {
    margin-left: 0;
    background: #008ac6;
    padding: 0 17px;
}

.header-meet .buttons-wrap .btn.edit {
    margin-left: 0;
}

.header-wrap-block:after {
    content:"";
    display: block;
    clear: both;
    float: none;
    width: 100%;
    height: 0;
}

.heading .holder .header-wrap-block h2 {
    float: left;
}

.content .btn:hover{
    text-decoration:none;
    border-color:#025a80;
}
.content .btn.delete, .heading .btn.delete  {
    background:#c30000 url("../images/delete.png") 13px no-repeat;
    border:1px solid #c30000;
    margin: 0 0 0 15px;
}

.delete_change_email .btn.delete {
    text-transform:uppercase;
    font:bold 12px/38px arial, helvetica, sans-serif;
    background:#c30000 url("../images/delete.png") 13px no-repeat;
    border:1px solid #c30000;
    margin: 0 0 0 15px;
    padding:0 17px 0 29px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#fff;
}

/* .content .btn.edit, .heading .btn.edit {
    right: 200px;
}
.content .btn.edit_committee {
    right: 220px;
} */

.k-datepicker, .k-timepicker {float: left;}
.k-timepicker.to, .k-timepicker.from{width:100px !important;}
.location{
    max-width:479px;
    width:100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label[for=id_time_end] {
    width: 40px;
}
.right {
    float: right;
}
.no_padding {
    padding: 0;
}
.no_border {
    border: 0;
}
.offset_top_5 {
    padding-top: 5px;
}
/*.upcoming-meetings .download {*/
    /*padding: 70px 10px 10px 0;*/
/*}*/
.upcoming-meetings .meeting-docs {
    margin-left: 250px;
}
.upcoming-meetings .download.docx {
    background: url(../images/sprites.png) no-repeat 50% -220px;
}
.upcoming-meetings .download.xlsx {
    background: url(../images/sprites.png) no-repeat 50% -108px;
}
.upcoming-meetings .download.pttx {
    background: url(../images/ppt.png) no-repeat 50% 0;
}
.upcoming-meetings .download.jpeg {
    background: url(../images/jpeg.png) no-repeat 50% 0;
}
.upcoming-meetings .download.gif {
    background: url(../images/gif.png) no-repeat 50% 0;
}
.upcoming-meetings .download.png {
    background: url(../images/png.png) no-repeat 50% 0;
}
.upcoming-meetings .download.tiff {
    background: url(../images/tiff.png) no-repeat 50% 0;
}
.upcoming-meetings .download.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter:  grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    text-decoration: none;
}
.meeting-content dl a {
    color: #4a4a4a;
    font-size: 14px;
}
.createmeeting-form .txt {
    color: #4A4A4A;
}
.createmeeting-form li.k-file, .createmeeting-form .k-upload-files {
    padding-bottom: 0;
}
/* meeting detail */
.meeting-detail {
    /* width: 85%; */
}
.meeting-detail dl {
    padding: 0.5em;
}
.meeting-detail dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}
.meeting-detail dt:after {
    content: ":";
}
.meeting-detail dd {
    margin: 0 0 0 240px;
    padding: 0 0 20px 0;
}
.meeting-detail dd:after,
.edit-uploader:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.meeting-detail .pdf,
.meeting-detail .docx,
.meeting-detail .xlsx,
.meeting-detail .pptx,
.meeting-detail .tiff,
.meeting-detail .png,
.meeting-detail .jpeg,
.meeting-detail .gif {
    float:left;
    color:#008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:15px 0 30px 67px;
    margin: 0 10px 0 0;
    text-decoration: underline;
}

.meeting-detail .pptx {background:url(../images/ppt.png) no-repeat;}
.meeting-detail .tiff {background:url(../images/tiff.png) no-repeat;}
.meeting-detail .png {background:url(../images/png.png) no-repeat;}
.meeting-detail .jpeg {background:url(../images/jpeg.png) no-repeat;}
.meeting-detail .gif {background:url(../images/gif.png) no-repeat;}

.meeting-detail .pdf {
    background:url(../images/sprites.png) no-repeat;
}
.meeting-detail .xlsx {
    background:url(../images/sprites.png) no-repeat 0 -108px;
}
.meeting-detail .docx {
    background:url(../images/sprites.png) no-repeat 0 -220px;
}
.meeting-detail .pdf:hover,
.meeting-detail .docx:hover,
.meeting-detail .xlsx:hover,
.meeting-detail .pptx:hover,
.meeting-detail .tiff:hover,
.meeting-detail .png:hover,
.meeting-detail .jpeg:hover,
.meeting-detail .gif:hover{
    text-decoration: none;
}

.meeting-detail .viewer-link {
    float:left;
    color: #008ac6;
    font:13px/32px arial, helvetica, sans-serif;
    padding:15px 0 30px 0;
    margin: 0 10px 0 0;
}

.meeting-detail .viewer-link a {
    text-decoration: underline;
    color: #008ac6;
}

.meeting-detail .viewer-link a:hover {
    text-decoration: none;
}

#map {
    margin: 0 0 0 0;
    background: #808080;
    width: 100%;
    max-width: 260px;
    height: 225px;
}
/* meeting/committee update page */
.updatemeeting .archives {
    width: 660px;
}
.updatemeeting .archives {
    border-top: 0 !important;
    padding: 0 !important;
}
.updatemeeting .archives li {
    padding: 0 !important;
    border-bottom: 0 !important;
}
.updatemeeting .archives .item {
    margin-left: 131px;
}
.updatemeeting .archives .item:last-child {
    padding-bottom: 0 !important;
}
div.edit {
    background-color: #f8f8f8;
    border-radius: 10px;
}
.edit-block {
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 0;
    overflow: hidden;
    width: 660px;
}
.confirmation-buttons {
    margin: 0 50px;
}
.delete-cancel {
    float: right;
}
#content .archives h4 {
    min-height: 10px;
}
.warning-buttons {
    text-align: center;
}

div.add-photo{
    position: relative;
    padding-left: 22px !important;
}

.createmeeting-form  .add-photo{
    position: relative;
    padding-left: 22px !important;
    margin-left: 20px;
}

div.add-photo a{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

div.add-photo .avatar-input{
    width : 130px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#id_timezone_chosen .chosen-single,
#id_timezone_chosen .chosen-single span {
    height: 28px;
    line-height: 28px;
}

#id_timezone_chosen .chosen-single {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: none;
    background: none;
}

#id_timezone_chosen .chosen-single span {
    margin-right: 32px;
}

#id_timezone_chosen .chosen-single div {
    width: 100%;
}

#id_timezone_chosen .chosen-single div b {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/sprites.png) no-repeat 100% -362px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* pagination */
ul.pager, .pager li {
    padding: 0;
    background: none;
}
/* archives */
#archives .edit-block {
    padding: 10px 20px;
}
#archives .k-upload-files {
    padding: 0;
}
#archives .k-upload-files li {
    border: 0;
}
#archives div.archives {
    border: 0;
}
/* members page */
.grid.container .contacts .linked-in{
    display: none;
}

.grid.container .member .photo {
    float: none;
    margin: 0;
}

.grid.container .member dl{
    display: none;
}

.grid.container .member{
    border: 1px solid #e9e9e9;
    background: #f4f4f4;
    width: 186px;
    /* height: 235px; */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 9px 8px;
    border: 1px solid #e9e9e9;
    margin: 0 9px 11px 0;
    background: #f4f4f4;
    display: inline-block;
    vertical-align: top;
    /* overflow: hidden; */
    overflow: visible;
    border-bottom: 1px solid #ebebeb;
}

.grid.container .member .text {
    margin-top: 10px;
    height: 100%;
    overflow: hidden;
}

.grid.container h3.full-name{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 157px;
}

.hidden{
    display: none!important;
}

.sort-list .grid-view.active {
    background-position: -27px -1015px;
}

.sort-list a.active {
    background-position: 0 -1015px;
}
.manage-member-buttons .btn { float: left;}
.manage-member-buttons .btn:not(:first-child) {margin-left: 10px;}
.grid .member .text .manage-member-buttons .btn:not(:first-child) {
    margin-top: 4px;
    margin-left: 0;
}
/* logo */
.logo_inner {
    text-indent: inherit;
    background-repeat: no-repeat;
    padding: 14px 0 0 45px;
    margin-left: 18px;
}
.logo_inner a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
}
/* add member */
.fields-list select, .fields-list .selectArea {
    width: 268px !important;
}
.fields-list > hr {
    display: inline-block;
    margin: 3em 0;
    width: 95%;
    border: 0;
    height: 3px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.fields-list .two-columns {
    width: 100%;
}
.fields-list .social-details {
    width: 400px;
    padding: 0;
}
.fields-list .two-columns .txt{
    width: 550px;
}
.fields-list .remove {
    margin: 7px 0 0 7px;
}
.fields .btns .reset {
    margin: 2px 0 0 20px;
}
.join-date .k-datepicker {
    width: 75%;
    float: right;
    padding: 0 18px 0 0 !important;
}
.join-date .k-picker-wrap {
    width: 150px;
}
.addmember-form .multiple.txt {
    padding: 0 9px !important;
}
.addmember-form .multiple.k-state-hover,
.addmember-form .multiple.k-state-hover:hover,
.join-date .k-header {
    background: transparent !important;
}
.addmember-form .fields{float: left;width: 600px;}
.addmember-form .picture{width: 240px; padding-left: 50px;}
.addmember-form .add-photo {width: 110px; float: left;}
.addmember-form .add-photo:hover { cursor: pointer !important;}
.addmember-form .add-thumb {width: 76px; margin-left: 5px; display: none; cursor: pointer;}
.addmember-form .add-photo a:hover, .addmember-form .add-thumb a:hover {text-decoration: none;}
/* board select page */
.account-list {
    width: 700px;
}
.account-list a.reactivate {
    color: #008ac6;
}
.account-list .canceled a:not(.reactivate) {
    color: #808080;
}
.account-list .canceled a:not(.reactivate):hover {
    text-decoration: none;
    cursor: default;
}
.account-list .canceled span {
    text-align: left;
    font: normal 14px arial, helvetica, sans-serif !important;
    margin-left: 5px;
    clear: all;
}
.account-list a:not(.reactivate) {
    width: 420px;
    float: left;
}
/* inner pricing */
.inner-pricing {
    width: 60%;
}
.inner-pricing .btns {
    width: 100% !important;
}
.inner-pricing .btns .btn {
    float: none !important;
    min-width: 200px;
    width: 30%;
}
/* billinf settings */
.billing-form #id_creditcardnumber {
    font-weight: bold;
    width: 96%;
}
.billing-form .csv {
    float: right;
    width: 70%;
}
.billing-form .expiration {
    float: left;
    width: 30%;
}
.cvv-info {
    text-align: center;
}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
    background: url(../images/border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(../images/border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(../images/border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(../images/border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {
}
/* calendar */
#calendar {
    padding-top: 5px;
    width: 75%;
    min-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.notice {
    text-transform:uppercase;
    font:18px ProximaNova-Bold, arial, helvetica, sans-serif !important;
    color:#353535;
    padding-bottom: 10px;
}
.notice .tick {
    background: url('../images/tick.png') 0 3px no-repeat;
    padding-left: 30px;
}
.notice a {
    color: #44883E;
    text-transform:uppercase;
    font:18px ProximaNova-Bold, arial, helvetica, sans-serif;
}

div.document-add-line{
    border-bottom: solid 1px #c7c6c6;
    margin: 80px 70px 10px 30px;
    font: italic 15px ProximaNova-Normal, arial, helvetica, sans-serif !important;
    color: #757575;
    position: relative;
}

div.document-add-line span{
    position: absolute;
    top: -10px;
    left: -30px;
}

#modal-share textarea{
    width: 300px;
    height: 100px;
    float: none;
}

#pdf-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

#pdf-wrapper iframe {
  width: 80vw;
  height: 80vh;
  margin-left: 10vw;
  margin-top: 10vh;
}

#archives .item a.download {
  cursor: pointer;
}

#archives .pdf .revisions h3 {
  cursor: pointer;
}

#archives .items{
    margin: 0 20px;
}
#archives .items .date{
    float: right;
    margin-top: -50px;
}
#archives .items .date-title{
    margin-right: 70px;
    margin-top: 0;
}

#archives .items .functional-button{
    text-align: center;
    margin-left: 100px;
}

#archives .versioned-docs .items .functional-button{
    text-align: right;
    margin-left: 100px;
}

#archives .items .functional-btn{
    visibility: hidden;
}
#archives .items .functional-button span{
    text-align: center;
    color: #828282;
    font: 10px/17px arial, helvetica, sans-serif;
    padding: 0 3px;
    background: #fafafa;
    -moz-border-radius: 4px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#archives .items .functional-button a, .list-folder{
    text-indent: 999999px;
    width: 25px;
    height: 30px;
    padding-top: 20px;
    float: none;
    display: inline-block;
}

#archives .items .functional-button .edit{
    background: url(../images/func_btn.png) no-repeat -66px 5px;
}
#archives .items .functional-button .delete{
    background: url(../images/func_btn.png) no-repeat -101px 5px;
}
#archives .items .functional-button .download{
    background: url(../images/func_btn.png) no-repeat 2px 8px;
    text-align: center;
}
#archives .items .functional-button .share-button{
    background: url(../images/func_btn.png) no-repeat -28px 6px;
    text-align: center;
    cursor: pointer;
}

#archives li:hover{
    visibility: visible;
    background-color: #edfaff;
}

.list-folder{
    background: url(../images/governance.png) no-repeat;
    width: 123px;
    background-size: 24%;
    margin-left: 200px;
    margin-top: -30px;
    padding-top: 60px;
}

.tab .upcoming-meetings .meeting-docs{
    float: right;
    margin-bottom: -20px;
}

.tab .upcoming-meetings .download{
    float: none;
    margin-right: -183px;
    padding: 70px 0 0;
}

.tab .item, .tab .upcoming-meetings .meeting-docs{
    margin-top: 30px;
    margin-bottom: -30px;
}

.tab .upcoming-meetings .download.grayscale {
    opacity: 0.5;
    margin-right: -83px;
}

#archives .tab li{
    background-color: inherit;
}

#archives .archives .edit-block{
    width: 100%;
     background-color: inherit;
}

#archives .archives .edit-block{
    padding: 0;
}

form.message .txt{
    width: 300px;
}

/*.fields .add-other{*/
    /*margin-left: 250px;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*background: #4a4d4e url(../images/sprites-icos.png) no-repeat 3px -1267px;*/
    /*border-radius: 18px;*/
    /*background-size: 19.5px 1765.5px;*/
/*}*/

.fields .add-other {
    width: 16px;
    height: 16px;
    margin-left: 253px;
    position: relative;
}

.fields .add-other:before, .fields .add-other:after {
    content: "";
    position: absolute;
    background: #8c8989;
}

.fields .add-other:before {
    left: 52.5%;
    width: 25%;
    margin-left: -15%;
    height: 100%;
}

.fields .add-other:after {
    top: 52.5%;
    height: 25%;
    margin-top: -15%;
    width: 100%;
}

.dashboard-meetings{
    width: 64%;
    float: left;
    margin-right: 30px;
}
.dashboard-meetings .upcoming-meetings, .dashboard-activities .upcoming-meetings, .dashboard-news .upcoming-meetings{
    color: #4a4a4a;
    border: none;
    font-size: 18px;
}
.dashboard-meetings .dashboard-meeting-card {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 40px 30px;
    background: #fcfcfc;
    overflow: hidden;
}
.dashboard-meetings .dashboard-meeting-card .meeting-icon{
    height: 78px;
    width: 90px;
    float: left;
    position: relative;
    border: 6px solid #0088c9;
    border-radius:6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 50px;
    -webkit-box-shadow: -1px 1px 0 0 #efefef, -2px 2px 0 0 #efefef, -3px 3px 0 0 #efefef, -4px 4px 0 0 #efefef, -5px 5px 0 0 #efefef, -6px 6px 0 0 #efefef, -7px 7px 0 0 #efefef, -8px 8px 0 0 #efefef, -9px 9px 0 0 #efefef, -10px 10px 0 0 #efefef, -11px 11px 0 0 #efefef, -12px 12px 0 0 #efefef, -13px 13px 0 0 #efefef, -14px 14px 0 0 #efefef, -15px 15px 0 0 #efefef, -16px 16px 0 0 #efefef, -17px 17px 0 0 #efefef, -18px 18px 0 0 #efefef, -19px 19px 0 0 #efefef, -20px 20px 0 0 #efefef, -21px 21px 0 0 #efefef, -22px 22px 0 0 #efefef, -23px 23px 0 0 #efefef, -24px 24px 0 0 #efefef, -25px 25px 0 0 #efefef, -26px 26px 0 0 #efefef, -27px 27px 0 0 #efefef, -28px 28px 0 0 #efefef, -29px 29px 0 0 #efefef, -30px 30px 0 0 #efefef, -31px 31px 0 0 #efefef, -32px 32px 0 0 #efefef, -33px 33px 0 0 #efefef, -34px 34px 0 0 #efefef, -35px 35px 0 0 #efefef, -36px 36px 0 0 #efefef, -37px 37px 0 0 #efefef, -38px 38px 0 0 #efefef, -39px 39px 0 0 #efefef, -40px 40px 0 0 #efefef, -41px 41px 0 0 #efefef, -42px 42px 0 0 #efefef, -43px 43px 0 0 #efefef, -44px 44px 0 0 #efefef, -45px 45px 0 0 #efefef, -46px 46px 0 0 #efefef, -47px 47px 0 0 #efefef, -48px 48px 0 0 #efefef, -49px 49px 0 0 #efefef, -50px 50px 0 0 #efefef, -51px 51px 0 0 #efefef, -52px 52px 0 0 #efefef, -53px 53px 0 0 #efefef, -54px 54px 0 0 #efefef, -55px 55px 0 0 #efefef, -56px 56px 0 0 #efefef, -57px 57px 0 0 #efefef, -58px 58px 0 0 #efefef, -59px 59px 0 0 #efefef, -60px 60px 0 0 #efefef, -61px 61px 0 0 rgba(239, 239, 239, 0.98), -62px 62px 0 0 rgba(239, 239, 239, 0.95), -63px 63px 0 0 rgba(239, 239, 239, 0.92), -64px 64px 0 0 rgba(239, 239, 239, 0.89), -65px 65px 0 0 rgba(239, 239, 239, 0.86), -66px 66px 0 0 rgba(239, 239, 239, 0.83), -67px 67px 0 0 rgba(239, 239, 239, 0.81), -68px 68px 0 0 rgba(239, 239, 239, 0.78), -69px 69px 0 0 rgba(239, 239, 239, 0.75), -70px 70px 0 0 rgba(239, 239, 239, 0.73), -71px 71px 0 0 rgba(239, 239, 239, 0.7), -72px 72px 0 0 rgba(239, 239, 239, 0.68), -73px 73px 0 0 rgba(239, 239, 239, 0.66), -74px 74px 0 0 rgba(239, 239, 239, 0.64), -75px 75px 0 0 rgba(239, 239, 239, 0.61), -76px 76px 0 0 rgba(239, 239, 239, 0.59), -77px 77px 0 0 rgba(239, 239, 239, 0.57), -78px 78px 0 0 rgba(239, 239, 239, 0.55), -79px 79px 0 0 rgba(239, 239, 239, 0.53), -80px 80px 0 0 rgba(239, 239, 239, 0.51), -81px 81px 0 0 rgba(239, 239, 239, 0.49), -82px 82px 0 0 rgba(239, 239, 239, 0.48), -83px 83px 0 0 rgba(239, 239, 239, 0.46), -84px 84px 0 0 rgba(239, 239, 239, 0.44), -85px 85px 0 0 rgba(239, 239, 239, 0.42), -86px 86px 0 0 rgba(239, 239, 239, 0.41), -87px 87px 0 0 rgba(239, 239, 239, 0.39), -88px 88px 0 0 rgba(239, 239, 239, 0.38), -89px 89px 0 0 rgba(239, 239, 239, 0.36), -90px 90px 0 0 rgba(239, 239, 239, 0.34), -91px 91px 0 0 rgba(239, 239, 239, 0.33), -92px 92px 0 0 rgba(239, 239, 239, 0.32), -93px 93px 0 0 rgba(239, 239, 239, 0.3), -94px 94px 0 0 rgba(239, 239, 239, 0.29), -95px 95px 0 0 rgba(239, 239, 239, 0.27), -96px 96px 0 0 rgba(239, 239, 239, 0.26), -97px 97px 0 0 rgba(239, 239, 239, 0.25), -98px 98px 0 0 rgba(239, 239, 239, 0.23), -99px 99px 0 0 rgba(239, 239, 239, 0.22), -100px 100px 0 0 rgba(239, 239, 239, 0.21), -101px 101px 0 0 rgba(239, 239, 239, 0.2), -102px 102px 0 0 rgba(239, 239, 239, 0.19), -103px 103px 0 0 rgba(239, 239, 239, 0.17), -104px 104px 0 0 rgba(239, 239, 239, 0.16), -105px 105px 0 0 rgba(239, 239, 239, 0.15), -106px 106px 0 0 rgba(239, 239, 239, 0.14), -107px 107px 0 0 rgba(239, 239, 239, 0.13), -108px 108px 0 0 rgba(239, 239, 239, 0.12), -109px 109px 0 0 rgba(239, 239, 239, 0.11), -110px 110px 0 0 rgba(239, 239, 239, 0.1), -111px 111px 0 0 rgba(239, 239, 239, 0.09), -112px 112px 0 0 rgba(239, 239, 239, 0.08), -113px 113px 0 0 rgba(239, 239, 239, 0.07), -114px 114px 0 0 rgba(239, 239, 239, 0.06), -115px 115px 0 0 rgba(239, 239, 239, 0.05), -116px 116px 0 0 rgba(239, 239, 239, 0.04), -117px 117px 0 0 rgba(239, 239, 239, 0.03), -118px 118px 0 0 rgba(239, 239, 239, 0.03), -119px 119px 0 0 rgba(239, 239, 239, 0.02), -120px 120px 0 0 rgba(239, 239, 239, 0.01),  0px 0px 0 0 #000;
    -moz-box-shadow: -1px 1px 0 0 #efefef, -2px 2px 0 0 #efefef, -3px 3px 0 0 #efefef, -4px 4px 0 0 #efefef, -5px 5px 0 0 #efefef, -6px 6px 0 0 #efefef, -7px 7px 0 0 #efefef, -8px 8px 0 0 #efefef, -9px 9px 0 0 #efefef, -10px 10px 0 0 #efefef, -11px 11px 0 0 #efefef, -12px 12px 0 0 #efefef, -13px 13px 0 0 #efefef, -14px 14px 0 0 #efefef, -15px 15px 0 0 #efefef, -16px 16px 0 0 #efefef, -17px 17px 0 0 #efefef, -18px 18px 0 0 #efefef, -19px 19px 0 0 #efefef, -20px 20px 0 0 #efefef, -21px 21px 0 0 #efefef, -22px 22px 0 0 #efefef, -23px 23px 0 0 #efefef, -24px 24px 0 0 #efefef, -25px 25px 0 0 #efefef, -26px 26px 0 0 #efefef, -27px 27px 0 0 #efefef, -28px 28px 0 0 #efefef, -29px 29px 0 0 #efefef, -30px 30px 0 0 #efefef, -31px 31px 0 0 #efefef, -32px 32px 0 0 #efefef, -33px 33px 0 0 #efefef, -34px 34px 0 0 #efefef, -35px 35px 0 0 #efefef, -36px 36px 0 0 #efefef, -37px 37px 0 0 #efefef, -38px 38px 0 0 #efefef, -39px 39px 0 0 #efefef, -40px 40px 0 0 #efefef, -41px 41px 0 0 #efefef, -42px 42px 0 0 #efefef, -43px 43px 0 0 #efefef, -44px 44px 0 0 #efefef, -45px 45px 0 0 #efefef, -46px 46px 0 0 #efefef, -47px 47px 0 0 #efefef, -48px 48px 0 0 #efefef, -49px 49px 0 0 #efefef, -50px 50px 0 0 #efefef, -51px 51px 0 0 #efefef, -52px 52px 0 0 #efefef, -53px 53px 0 0 #efefef, -54px 54px 0 0 #efefef, -55px 55px 0 0 #efefef, -56px 56px 0 0 #efefef, -57px 57px 0 0 #efefef, -58px 58px 0 0 #efefef, -59px 59px 0 0 #efefef, -60px 60px 0 0 #efefef, -61px 61px 0 0 rgba(239, 239, 239, 0.98), -62px 62px 0 0 rgba(239, 239, 239, 0.95), -63px 63px 0 0 rgba(239, 239, 239, 0.92), -64px 64px 0 0 rgba(239, 239, 239, 0.89), -65px 65px 0 0 rgba(239, 239, 239, 0.86), -66px 66px 0 0 rgba(239, 239, 239, 0.83), -67px 67px 0 0 rgba(239, 239, 239, 0.81), -68px 68px 0 0 rgba(239, 239, 239, 0.78), -69px 69px 0 0 rgba(239, 239, 239, 0.75), -70px 70px 0 0 rgba(239, 239, 239, 0.73), -71px 71px 0 0 rgba(239, 239, 239, 0.7), -72px 72px 0 0 rgba(239, 239, 239, 0.68), -73px 73px 0 0 rgba(239, 239, 239, 0.66), -74px 74px 0 0 rgba(239, 239, 239, 0.64), -75px 75px 0 0 rgba(239, 239, 239, 0.61), -76px 76px 0 0 rgba(239, 239, 239, 0.59), -77px 77px 0 0 rgba(239, 239, 239, 0.57), -78px 78px 0 0 rgba(239, 239, 239, 0.55), -79px 79px 0 0 rgba(239, 239, 239, 0.53), -80px 80px 0 0 rgba(239, 239, 239, 0.51), -81px 81px 0 0 rgba(239, 239, 239, 0.49), -82px 82px 0 0 rgba(239, 239, 239, 0.48), -83px 83px 0 0 rgba(239, 239, 239, 0.46), -84px 84px 0 0 rgba(239, 239, 239, 0.44), -85px 85px 0 0 rgba(239, 239, 239, 0.42), -86px 86px 0 0 rgba(239, 239, 239, 0.41), -87px 87px 0 0 rgba(239, 239, 239, 0.39), -88px 88px 0 0 rgba(239, 239, 239, 0.38), -89px 89px 0 0 rgba(239, 239, 239, 0.36), -90px 90px 0 0 rgba(239, 239, 239, 0.34), -91px 91px 0 0 rgba(239, 239, 239, 0.33), -92px 92px 0 0 rgba(239, 239, 239, 0.32), -93px 93px 0 0 rgba(239, 239, 239, 0.3), -94px 94px 0 0 rgba(239, 239, 239, 0.29), -95px 95px 0 0 rgba(239, 239, 239, 0.27), -96px 96px 0 0 rgba(239, 239, 239, 0.26), -97px 97px 0 0 rgba(239, 239, 239, 0.25), -98px 98px 0 0 rgba(239, 239, 239, 0.23), -99px 99px 0 0 rgba(239, 239, 239, 0.22), -100px 100px 0 0 rgba(239, 239, 239, 0.21), -101px 101px 0 0 rgba(239, 239, 239, 0.2), -102px 102px 0 0 rgba(239, 239, 239, 0.19), -103px 103px 0 0 rgba(239, 239, 239, 0.17), -104px 104px 0 0 rgba(239, 239, 239, 0.16), -105px 105px 0 0 rgba(239, 239, 239, 0.15), -106px 106px 0 0 rgba(239, 239, 239, 0.14), -107px 107px 0 0 rgba(239, 239, 239, 0.13), -108px 108px 0 0 rgba(239, 239, 239, 0.12), -109px 109px 0 0 rgba(239, 239, 239, 0.11), -110px 110px 0 0 rgba(239, 239, 239, 0.1), -111px 111px 0 0 rgba(239, 239, 239, 0.09), -112px 112px 0 0 rgba(239, 239, 239, 0.08), -113px 113px 0 0 rgba(239, 239, 239, 0.07), -114px 114px 0 0 rgba(239, 239, 239, 0.06), -115px 115px 0 0 rgba(239, 239, 239, 0.05), -116px 116px 0 0 rgba(239, 239, 239, 0.04), -117px 117px 0 0 rgba(239, 239, 239, 0.03), -118px 118px 0 0 rgba(239, 239, 239, 0.03), -119px 119px 0 0 rgba(239, 239, 239, 0.02), -120px 120px 0 0 rgba(239, 239, 239, 0.01),  0px 0px 0 0 #000;
    box-shadow: -1px 1px 0 0 #efefef, -2px 2px 0 0 #efefef, -3px 3px 0 0 #efefef, -4px 4px 0 0 #efefef, -5px 5px 0 0 #efefef, -6px 6px 0 0 #efefef, -7px 7px 0 0 #efefef, -8px 8px 0 0 #efefef, -9px 9px 0 0 #efefef, -10px 10px 0 0 #efefef, -11px 11px 0 0 #efefef, -12px 12px 0 0 #efefef, -13px 13px 0 0 #efefef, -14px 14px 0 0 #efefef, -15px 15px 0 0 #efefef, -16px 16px 0 0 #efefef, -17px 17px 0 0 #efefef, -18px 18px 0 0 #efefef, -19px 19px 0 0 #efefef, -20px 20px 0 0 #efefef, -21px 21px 0 0 #efefef, -22px 22px 0 0 #efefef, -23px 23px 0 0 #efefef, -24px 24px 0 0 #efefef, -25px 25px 0 0 #efefef, -26px 26px 0 0 #efefef, -27px 27px 0 0 #efefef, -28px 28px 0 0 #efefef, -29px 29px 0 0 #efefef, -30px 30px 0 0 #efefef, -31px 31px 0 0 #efefef, -32px 32px 0 0 #efefef, -33px 33px 0 0 #efefef, -34px 34px 0 0 #efefef, -35px 35px 0 0 #efefef, -36px 36px 0 0 #efefef, -37px 37px 0 0 #efefef, -38px 38px 0 0 #efefef, -39px 39px 0 0 #efefef, -40px 40px 0 0 #efefef, -41px 41px 0 0 #efefef, -42px 42px 0 0 #efefef, -43px 43px 0 0 #efefef, -44px 44px 0 0 #efefef, -45px 45px 0 0 #efefef, -46px 46px 0 0 #efefef, -47px 47px 0 0 #efefef, -48px 48px 0 0 #efefef, -49px 49px 0 0 #efefef, -50px 50px 0 0 #efefef, -51px 51px 0 0 #efefef, -52px 52px 0 0 #efefef, -53px 53px 0 0 #efefef, -54px 54px 0 0 #efefef, -55px 55px 0 0 #efefef, -56px 56px 0 0 #efefef, -57px 57px 0 0 #efefef, -58px 58px 0 0 #efefef, -59px 59px 0 0 #efefef, -60px 60px 0 0 #efefef, -61px 61px 0 0 rgba(239, 239, 239, 0.98), -62px 62px 0 0 rgba(239, 239, 239, 0.95), -63px 63px 0 0 rgba(239, 239, 239, 0.92), -64px 64px 0 0 rgba(239, 239, 239, 0.89), -65px 65px 0 0 rgba(239, 239, 239, 0.86), -66px 66px 0 0 rgba(239, 239, 239, 0.83), -67px 67px 0 0 rgba(239, 239, 239, 0.81), -68px 68px 0 0 rgba(239, 239, 239, 0.78), -69px 69px 0 0 rgba(239, 239, 239, 0.75), -70px 70px 0 0 rgba(239, 239, 239, 0.73), -71px 71px 0 0 rgba(239, 239, 239, 0.7), -72px 72px 0 0 rgba(239, 239, 239, 0.68), -73px 73px 0 0 rgba(239, 239, 239, 0.66), -74px 74px 0 0 rgba(239, 239, 239, 0.64), -75px 75px 0 0 rgba(239, 239, 239, 0.61), -76px 76px 0 0 rgba(239, 239, 239, 0.59), -77px 77px 0 0 rgba(239, 239, 239, 0.57), -78px 78px 0 0 rgba(239, 239, 239, 0.55), -79px 79px 0 0 rgba(239, 239, 239, 0.53), -80px 80px 0 0 rgba(239, 239, 239, 0.51), -81px 81px 0 0 rgba(239, 239, 239, 0.49), -82px 82px 0 0 rgba(239, 239, 239, 0.48), -83px 83px 0 0 rgba(239, 239, 239, 0.46), -84px 84px 0 0 rgba(239, 239, 239, 0.44), -85px 85px 0 0 rgba(239, 239, 239, 0.42), -86px 86px 0 0 rgba(239, 239, 239, 0.41), -87px 87px 0 0 rgba(239, 239, 239, 0.39), -88px 88px 0 0 rgba(239, 239, 239, 0.38), -89px 89px 0 0 rgba(239, 239, 239, 0.36), -90px 90px 0 0 rgba(239, 239, 239, 0.34), -91px 91px 0 0 rgba(239, 239, 239, 0.33), -92px 92px 0 0 rgba(239, 239, 239, 0.32), -93px 93px 0 0 rgba(239, 239, 239, 0.3), -94px 94px 0 0 rgba(239, 239, 239, 0.29), -95px 95px 0 0 rgba(239, 239, 239, 0.27), -96px 96px 0 0 rgba(239, 239, 239, 0.26), -97px 97px 0 0 rgba(239, 239, 239, 0.25), -98px 98px 0 0 rgba(239, 239, 239, 0.23), -99px 99px 0 0 rgba(239, 239, 239, 0.22), -100px 100px 0 0 rgba(239, 239, 239, 0.21), -101px 101px 0 0 rgba(239, 239, 239, 0.2), -102px 102px 0 0 rgba(239, 239, 239, 0.19), -103px 103px 0 0 rgba(239, 239, 239, 0.17), -104px 104px 0 0 rgba(239, 239, 239, 0.16), -105px 105px 0 0 rgba(239, 239, 239, 0.15), -106px 106px 0 0 rgba(239, 239, 239, 0.14), -107px 107px 0 0 rgba(239, 239, 239, 0.13), -108px 108px 0 0 rgba(239, 239, 239, 0.12), -109px 109px 0 0 rgba(239, 239, 239, 0.11), -110px 110px 0 0 rgba(239, 239, 239, 0.1), -111px 111px 0 0 rgba(239, 239, 239, 0.09), -112px 112px 0 0 rgba(239, 239, 239, 0.08), -113px 113px 0 0 rgba(239, 239, 239, 0.07), -114px 114px 0 0 rgba(239, 239, 239, 0.06), -115px 115px 0 0 rgba(239, 239, 239, 0.05), -116px 116px 0 0 rgba(239, 239, 239, 0.04), -117px 117px 0 0 rgba(239, 239, 239, 0.03), -118px 118px 0 0 rgba(239, 239, 239, 0.03), -119px 119px 0 0 rgba(239, 239, 239, 0.02), -120px 120px 0 0 rgba(239, 239, 239, 0.01),  0px 0px 0 0 #000;
}

.dashboard-meetings .dashboard-meeting-card .meeting-icon:before,
.dashboard-meetings .dashboard-meeting-card .meeting-icon:after {
    content:"";
    display: block;
    position: absolute;
    background: #0088c9;
    border:1px solid #ffffff;
    width: 8px;
    height: 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:4px;
    top:-18px;
}

.dashboard-meetings .dashboard-meeting-card .meeting-icon:before {
    left:10px;
}

.dashboard-meetings .dashboard-meeting-card .meeting-icon:after{
    right:10px;
}

.dashboard-meetings .dashboard-meeting-card .meeting-icon .month{
    color: #ffffff;
    /* position: absolute;
    top: 12px;
    left: 26px; */
    height:16px;
    text-transform: uppercase;
    font:12px/16px ProximaNova-Semibold, arial, helvetica, sans-serif;
    background: #0088c9;
    text-align: center;
}
.dashboard-meetings .dashboard-meeting-card .meeting-icon .day{
    color: #0088c7;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    font-family: ProximaNova-Semibold, arial, helvetica, sans-serif;
    background: #ffffff;
}

/** Meeting Event customization */
.dashboard-meetings .dashboard-meeting-card .meeting-icon.event-icon {
    border-color: #00aa00;
}
.dashboard-meetings .dashboard-meeting-card .meeting-icon.event-icon .day {
    color: #00aa00;
}
.dashboard-meetings .dashboard-meeting-card .meeting-icon.event-icon .month {
    background: #00aa00;
}
.dashboard-meetings .dashboard-meeting-card .meeting-icon.event-icon:before,
.dashboard-meetings .dashboard-meeting-card .meeting-icon.event-icon:after {
    background: #00aa00;
}

/* Calendar addition */
.fc-content .fc-event.event-item {
    background: #00aa00;
    border-color: #00aa00;
}

/** END Meeting Event customization */


.dashboard-meetings .dashboard-meeting-card .meeting-description{
    font: 16px normal ProximaNova-Semibold, arial, helvetica, sans-serif;
    color: #a1a1a1;
    overflow: hidden;
    width: 40%;
    display: inline-block;
}
.dashboard-meetings .dashboard-meeting-card .meeting-description h2{
    text-transform: uppercase;
    font-size: 18px;
    font-family: ProximaNova-Semibold, arial, helvetica, sans-serif;
    color: #3d3d3d;
}
.dashboard-meetings .dashboard-meeting-card .meeting-btn{
    color: #0088c9;
    padding: 10px 22px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.dashboard-meetings .dashboard-meeting-card .meeting-btn:hover{
    color:#09bde8;
}

.dashboard-meetings .dashboard-meeting-card .meeting-btn i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

.dashboard-meetings .dashboard-meeting-card .meeting-btn i:after{
    top:2px;
    left:1px;
    content:"";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border:1px solid #0088c9;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dashboard-meetings .dashboard-meeting-card .meeting-btn:hover i:after{
    border:1px solid #09bde8;
    border-left: 0;
    border-bottom: 0;
}

.dashboard-meetings .dashboard-meeting-card .meeting-description p{
    font-family: ProximaNova-Light, arial, helvetica, sans-serif;
    margin:0 0 10px 0;
    color:#3e3e3e;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit{
    text-transform: uppercase;
    display: inline-block;
    width: 190px;
    vertical-align: top;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit h2 {
    max-width: 40%;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 10px;
}

.meet-list-delimeter {
    border: 4px solid #FAFAFA;
    width: 97%;
    float: left;
    margin-top: 20px;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit div {
    border: solid 1px #d6d6d6;
    color: #3d3d3d !important;
    background-color: #f2f2f2;
    text-decoration: inherit;
    border-radius: 0;
    margin: 0;
    font-weight: bold;
    padding: 8px 17px;
    font-size: 11px;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit div:first-child {
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit div:last-child {
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit .k-button.bg-green {
    background-color: #3b8e00;
    color: #ffffff !important;
    border-color: #3b8e00;
    cursor: default;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit .k-button.bg-red {
    background-color: #d5351f;
    color: #ffffff !important;
    border-color: #d5351f;
    cursor: default;
}

.dashboard-meetings .dashboard-meeting-card .rsvp-edit .k-button.bg-gray {
    background-color: #949494;
    color: #ffffff !important;
    border-color: #949494;
    cursor: default;
}

div .bg-green {
    background-color: #00aa00;
    color: #ffffff;
}
div .bg-red {
    background-color: #aa0000;
    color: #ffffff;
}
div .bg-gray {
    background-color: #888888;
    color: #949494;
}

.right-side {
    float: left;
    width: 32%;
}

/* .dashboard-activities, .dashboard-news {
    width: 35%;
    float: left;
} */
.dashboard-activities .activities-block{
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 0 0 15px 15px;
    position: relative;
    margin-left: 7px;
}

.dashboard-activities .activities-block .date-title{
    font: 18px ProximaNova-Normal, arial, helvetica, sans-serif;
}

.dashboard-activities .activities-block .activities-object{
    color: #3d3d3d;
    position: absolute;
    top: -10px;
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding-left: 10px;
}
.dashboard-activities .activities-block a{
    color: #0088c7;
}
.dashboard-activities .activities-block .cell2{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #a1a1a1;
}
.dashboard-activities .activities-block .point{
    border-radius: 50%;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: 0 0 0 3px #ffffff;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 6px;
    height: 6px;
}
.dashboard-activities .activities-block .date-point{
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    box-shadow: 0 0 0 3px #cccccc;
}
.dashboard-activities .activities-block .today{
    margin-bottom: 15px;
    text-transform: uppercase;

}
.dashboard-activities .activities-date-block{
    padding-top: 35px;
}
.dashboard-news .upcoming-meetings{
    margin-top: 20px;
}

.dashboard-news .news{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.dashboard-news .date{
    background-color: #eeeeee;
    float: left;
    width: 50px;
    font: 16px ProximaNova-Normal, arial, helvetica, sans-serif;
    text-align: center;
    padding: 5px 3px;
    border-radius: 5px;
}
.dashboard-news .date .month{
    font: 14px ProximaNova-Normal, arial, helvetica, sans-serif;
}
.dashboard-news .news-text{
    margin-left: 75px;
    text-align: justify;
    color: #959595;
    line-height: 1.5;
    font-size: 15px;
    /*font: 15px arial, helvetica, sans-serif;*/
}
.dashboard-news .news-text a {
    color: #0089c5;
    font: 15px arial, helvetica, sans-serif;
    display: block;
    text-align: left;
    margin-bottom: 3px;
}
.dashboard-news .all-news a{
    color: #0089c5;
    font: 13px arial, helvetica, sans-serif;
}
.dashboard-news .all-news{
    margin-top: 15px;
}

@media screen and (max-width:1150px){
    .heading .holder .header-wrap-block h2 {
        float: none;
    }
    .heading .holder .button-wrap {
        float: none;
        text-align: left;
    }
    .heading .holder .button-wrap a.btn {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:980px){
    .dashboard-meetings {
        width: auto;
        margin-right: 0;
        float: none;
    }
    .right-side {
        width: auto;
        float: none;
    }
}


.tab .upcoming-meetings .meeting-docs {
    margin: 60px 100px 0 0;
}

.tab .item {
    margin: 0 100px 0 0;
}

.tab .upcoming-meetings .download.grayscale {
    padding: 70px 0 0 0;
    margin: 0 100px 0 0 ;
}

.tab .upcoming-meetings .download {
    padding: 70px 0 0 0;
    margin: 0 37px 0 0 ;
}

.list-folder {
    padding: 0;
    margin: -40px 0 0 0;
    height: 30px;
    width: 30px;
    float: right;
    background-size: 100%;
}

.list-folder.with-doc {
    margin-top: -50px;
}

/* Getting Started Link, this is temp patch */
#company a.top-close-guide {
    color: #01D2FD!important;
    font-size: 12px;
}
#company a.top-close-guide .large {
    display: none;
}
#company a.top-close-guide {
    margin-left: 20px;
}
@media (min-width: 1000px) {
    #company a.top-close-guide {
        margin-left: 100px;
    }
    #company a.top-close-guide .small {
        display: none;
    }
    #company a.top-close-guide .large {
        display: inline;
    }
}
@media (min-width: 1200px) {
    #company a.top-close-guide {
        margin-left: 220px;
    }
}
