.breadcrumbs.meeting-detail-breadcrumbs {
    border-bottom: 1px solid #ebebeb;
}

.content.meeting-detail-btns {
    width: 100%;
    border-top: 0;
}

.content.meeting-detail {
    width: 100%;
    border-top: 0;
}

.content.meeting-detail ul {
    padding-bottom: 0;
}

.content ul.meet-list {
    padding: 0;
}

.content ul.meet-list p:last-child {
    margin-bottom: 0;
}

.content.meeting-roster h2 {
    font-size: 16px;
    float: none;
    margin: 0 0 4px;
    font-weight: bolder;
    font-family: ProximaNova-Bold, Arial, sans-serif;
}

.content.meeting-roster {
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
}

.content.meeting-roster table {
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-spacing: 0;
    margin-top: 20px;
    font-size: 13px;
}

.content.meeting-roster table tr:nth-child(even) {
    background-color: #fafafa;
}

.content.meeting-roster table tr:nth-child(even) td {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.meeting-roster table tr td {
    padding: 67px 31px;
    color: #4a4a4a;
}

.meeting-roster table tr td:first-child {
    width: 20%;
}

.meeting-roster table tr td:nth-child(2) {
    width: 64%;
}

.meeting-roster table tr td:last-child {
    padding-right: 25px;
}

.meeting-roster table tr td h3 {
    color: #0089c5;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 0;
}

.meeting-roster-invited {
    text-transform: lowercase;
    color: #4a4a4a;
    font-family: ProximaNova-Regular, Arial, sans-serif;
}

.meeting-roster-invited a {
    color: #0089c5;
}

.meeting-roster-invite-form {
    display: inline-block;
    margin-left: 10px;
}

.meeting-roster-invite-form select {
    font: 13px/16px ProximaNova-Regular, Arial, sans-serif;
    height: 28px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}

.content.meeting-roster table tr td img {
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.meeting-form-body {
    width: 100%;
    float: none;
    margin-right: 30px;
}

.meeting-form-body .txt.title, .meeting-form-body .txt.textarea {
    width: 95%; /* Very hacky */
}

.meeting-right-side {
    background: #f1f1f1;
    padding: 50px 15px 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
}

.createmeeting-form .panel-body .submit {
    display: block;
    float: none;
    width: 100%;
    margin: 10px 0;
}

.meeting-right-side select {
    width: 100%;
}

.meeting-right-side .selectArea {
    margin: 5px 0 10px;
}

.createmeeting-form .submit:hover {
    cursor: pointer;
}

#content .meeting-right-side .btn {
    float: none;
    margin: 0;
}

.createmeeting-form .submit.cancel-meeting, .createmeeting-form .submit.btn-default {
    background-image: none;
    padding: 0 17px 0 17px;
    background-color: #fff;
    color: #333;
    border-color: #c9c9c9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.heading .btn {
    margin: 0 0 0 10px;
}

.createmeeting-form .submit.btn-default.success {
    color: lightgreen;
}

.createmeeting-form .submit.cancel-meeting:hover, .createmeeting-form .submit.btn-default:hover {
    border-color: #c9c9c9;
}

.createmeeting-form label ~ label {
    margin-left: 20px;
    width: auto;
}

.content .previous, .content .next {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .next::after {
    display: none;
}

.content .previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #eee;
    text-align: center;
}

.draft-meeting-label {
    color: red;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
}

.buttons-wrap {
    margin-bottom: 10px;
}

.header-meet .btn {
    float: none;
    margin: 0 10px;
}
.header-meet .btn.delete {
    margin: 0;
}

.location-link {
    display: none;
    color: #008ac6;
}

/***
"Common section" - maybe move to some more general styles

***/

#content.has-right-side {
    padding-right: 325px;
}

.panel {
    border-color: #e5e5e5;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.panel-header {
    padding: 10px 20px;
    font-weight: bold;
    color: #424242;
    font: 16px "ProximaNova-Semibold", "arial", "helvetica", sans-serif;
    border-bottom: 1px solid #e5e5e5;
}

.panel-body {
    padding: 10px 20px;
    line-height: 24px;
}

.panel-body::after {
    display: block;
    content: "";
    clear: both;
}

.panel-body-expand {
}

.item-title {
    color: #444;
}

.item-title .fa {
    color: #888;
    font-size: 14px;
    margin-right: 5px;
}

.item-value {
    color: #444;
    font-weight: bold;
}

.item-value.meeting-timing {
    display: block;
    margin-left: 22px;
}

.mt-20 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.selectize-field {
    float: left;
    width: 400px;
}