{% if doc_agenda %}
  <li>
    <ul class="archives">
      <li>
        <div class="items">
          {% include 'documents/document_item.html' with doc=doc_agenda %}
        </div>
      </li>
    </ul>
  </li>
{% else %}
  <li>
    {{ form.agenda.label_tag }}
    {{ form.agenda }}
  </li>
{% endif %}


{% if doc_minutes %}
  <li>
    <ul class="archives">
      <li>
        <div class="items">
          {% include 'documents/document_item.html' with doc=doc_minutes %}
        </div>
      </li>
    </ul>
  </li>
{% else %}
  <li>
    {{ form.minutes.label_tag }}
    {{ form.minutes }}
  </li>
{% endif %}

{% if other_docs %}
  <li>
    <ul class="archives">
      <li>
        <div class="items">
          {% for doc in other_docs %}
            {% include 'documents/document_item.html' %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </li>
{% endif %}
<li>
  {{ form.other.label_tag }}
  {{ form.other }}
</li>
