{% load i18n %}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
    <span class="k-icon k-warning"></span>
    {{ form.non_field_errors.0 }}
  </span>
{% endif %}
{% for field in form.visible_fields %}
  {% if field.name != 'agenda' and field.name != 'minutes' and field.name != 'other' and field.name != 'action' %}
    {% if field.name != 'time_end' %}
      <li>
    {% endif %}
  {% if field.name == 'name' or field.name == 'description' %}
    {{ field }}
  {% else %}
    {{ field.label_tag }}
    {% if field.name == 'extra_members' %}
      <div class="selectize-field">{{ field }}</div>
    {% else %}
      {{ field }}
    {% endif %}
  {% endif %}

  {% if field.errors %}
    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ field.auto_id }}" role="alert">
      <span class="k-icon k-warning"></span>
      {{ field.errors.0 }}
    </span>
  {% endif %}

  {% if field.name != 'time_start' %}
    </li>
  {% endif %}
  {% endif %}
{% endfor %}
