{% load i18n static common_tags permissions_tags %}

{% has_permission 'meetings.meeting' 'edit' meeting as permission_edit %}

<div class="meeting-right-side createmeeting-form content">
  <div class="panel">
    <div class="panel-header">
      {% if is_event %}{% trans 'Event Status' %}
        {% else %}{% trans 'Meeting Status' %}
      {% endif %}
    </div>
    <div class="panel-body">
      <div>
        <span class="item-title"><i class="fa fa-map-pin" aria-hidden="true"></i> {% trans 'Status' %}:</span>
        <span class="item-value">{% if meeting.is_published %}{% trans 'Published' %}{% else %}{% trans 'Draft' %}{% endif %}</span>
      </div>
      {% if meeting.is_published and meeting.last_published %}
        <div class="panel-body-expand">
          <span class="item-title"><i class="fa fa-calendar" aria-hidden="true"></i> {% trans 'Published on' %}:</span>
          <span class="item-value meeting-timing">{{ meeting.last_published }}</span>
        </div>
      {% endif %}
      {% if form %}
        <form onsubmit="return false">
          {% if not meeting.id %}
            <div>
              {{ form.action }}
            </div>
          {% endif %}
          <div>
            {% if meeting.id %}
              {% if is_event %}<input type="submit" class="submit create-meeting" value="{% trans 'Save Event' %}">
              {% else %}<input type="submit" class="submit create-meeting" value="{% trans 'Save Meeting' %}">
              {% endif %}
            {% else %}
              {% if is_event %}<input type="submit" class="submit create-meeting" value="{% trans 'Create Event' %}">
              {% else %}<input type="submit" class="submit create-meeting" value="{% trans 'Create Meeting' %}">
              {% endif %}
            {% endif %}
          </div>
          <div>
            {% if meeting.id %}
              <a rel="button" class="submit cancel-meeting" href="{% acc_url meeting_type_namespace|add:':detail' pk=meeting.id %}">{% trans 'Cancel' %}</a>
            {% else %}
              <a rel="button" class="submit cancel-meeting" href="{% acc_url meeting_type_namespace|add:':list' %}">{% trans 'Cancel' %}</a>
            {% endif %}
          </div>
        </form>
      {% elif not meeting.is_published %}
        <div>
          <form action="{% acc_url meeting_type_namespace|add:':publish' pk=meeting.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="publish"/>
            <button class="submit btn-default">
              {% if is_event %}{% trans 'Publish Event' %}
                {% else %}{% trans 'Publish Meeting' %}
              {% endif %}
            </button>
          </form>
        </div>
      {% endif %}
      {% if not form %}
        <div class="buttons-wrap">
          {% has_permission 'meetings.meeting' 'delete' meeting as permission_delete %}
          {% has_permission 'meetings.meeting' 'edit' meeting as permission_edit %}

          {% if permission_edit %}
            <a class="btn edit" href="{% acc_url meeting_type_namespace|add:':update' pk=meeting.id %}">{% trans 'Edit' %}</a>
          {% endif %}
          {% if permission_delete %}
            <a class="btn delete" href="{% acc_url meeting_type_namespace|add:':delete' pk=meeting.id %}">{% trans 'Delete' %}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if meeting.is_published %}
    <div class="panel mt-20">
      <div class="panel-header">
        {% if is_event %}{% trans 'Email Event Details' %}
          {% else %}{% trans 'Email Meeting Details' %}
        {% endif %}
      </div>
      <div class="panel-body">
        <div>
          {% if meeting.account.send_notification %}
            {% if permission_edit %}
              <form action="{% acc_url meeting_type_namespace|add:':mail-details' pk=meeting.id %}" id="mail-details-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="kind" value="meeting"/>
                <input type="submit" class="submit btn-default send-email" value="{% trans 'Email To Participants' %}"/>
              </form>
              <form action="{% acc_url meeting_type_namespace|add:':mail-details' pk=meeting.id %}" id="mail-details-form" method="post">
                {% csrf_token %}
                <input type="hidden" name="kind" value="reminder"/>
                <input type="submit" class="submit btn-default send-email" value="{% trans 'Send Reminder' %}"/>
              </form>
              {% if form %}
                <div class="text-center">{% trans 'Please save changes before sending' %}</div>
              {% endif %}
            {% endif %}
          {% else %}
            <span>{% trans 'Notifications are disabled for this board.' %}</span>
          {% endif %}
        </div>
        {% if meeting.last_email_sent %}
          <div class="panel-body-expand">
            <span class="item-title"><i class="fa fa-calendar" aria-hidden="true"></i> {% trans 'Last email sent' %}:</span>
            <span class="item-value meeting-timing">{{ meeting.last_email_sent }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
