{% load i18n %}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
  {% if form.non_field_errors %}
  <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
    <span class="k-icon k-warning"></span>
    {{ form.non_field_errors.0 }}
  </span>
  {% endif %}
{% for field in form.visible_fields %}
  {% if field.name != 'avatar' %}
    {% if field.name == 'first_name' %}
      <h2>Member Details</h2>
    {% elif field.name == 'employer' %}
      <hr>
      <h2>Work Details</h2>
    {% elif field.name == 'intro' %}
      <hr>
      <h2>Biography</h2>
    {% elif field.name == 'address' %}
      <hr>
      <h2>Personal Details(Private)</h2>
    {% elif field.name == 'affiliation' %}
      <hr>
      <h2>Social Details</h2>
    {% endif %}
    <li
      {% if field.name == 'term_start' %}
        class="start-date"
      {% elif field.name == 'term_expires' %}
        class="end-date"
      {% elif field.name == 'intro' or field.name == 'bio' or field.name == 'address' or field.name == 'secondary_address' %}
        class="two-columns"
      {% elif field.name == 'affiliation' or field.name == 'social_media_link' %}
        class="social-details"
      {% endif %}
    >
      <label for="{{ field.name }}" {% if field.field.required %} class="special_class" {% endif %}>
        {{ field.label }}
      </label>
      {% if field.name == 'affiliation' or field.name == 'social_media_link' %}
        <div class="list-value-field">
          {{ field }}
          <div class="remove" hidden></div>
        </div>
      {% else %}
        {{ field }}
      {% endif %}
      {% if field.errors %}
      <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="{{ field.auto_id }}" role="alert">
        <span class="k-icon k-warning"></span>
        {{ field.errors.0 }}
      </span>
      {% endif %}
    </li>
    {% if field.name == 'social_media_link' %}
      <hr>
    {% endif %}
  {% endif %}
{% endfor %}
