{% extends "inner.html" %}
{% load i18n dajaxice_templatetags common_tags permissions_tags %}

{% block extra_js %}
  {% dajaxice_js_import %}
  <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
  <script src="{{ STATIC_URL }}js/committees.js"></script>
{% endblock extra_js %}

{% block workspace %}
  <header class="heading">
    {% if current_membership|has_role_permission:'committees.committee:add' %}
      <a class="btn" href="{% acc_url 'committees:create' %}">{% trans 'Add Committee' %}</a>
    {% endif %}
    <div class="holder">
      <h2>{% trans 'Committees' %}</h2>
    </div>
  </header>
  <div class="bar">
    <form action="#" class="browse-by">
      <label for="browse-by">{% trans 'Show' %}:</label>
      <select id="browse-by" name="show">
        <option value="" selected>{% trans 'All Committees' %}</option>
        {% for committee in committees %}
          <option value="{{ committee.pk }}">{{ committee.name }}</option>
        {% endfor %}
      </select>
    </form>
    {% if current_membership|has_role_permission:'committees.committee:add' %}
      <a href="{{ members_email }}" class="email-l" id="mail-to">{% trans 'Email this group...' %}</a>
    {% endif %}
  </div>
  <div id="committees">
    {% include 'committees/includes/committees.html' %}
  </div>
{% endblock workspace %}
