{% extends "inner.html" %}
{% load i18n %}

{% block extra_js %}
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/committee.js"></script>
  <script src="{{ STATIC_URL }}js/documents.js"></script>
  <script type="text/javascript">
    var DOC_DELETE_URL = "{% url 'documents:delete' %}"
  </script>
{% endblock extra_js %}

{% block workspace %}
  <header class="heading">
    <h2>{% trans 'Update Committee' %}</h2>
  </header>
  <ul class="error">
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <form method="post" enctype="multipart/form-data" class="createmeeting-form updatemeeting">{% csrf_token %}
    <ul>
      {% include 'committees/includes/edit_form.html' %}
    </ul>
    <input type="hidden" id="committee_id" value="{{ object.id }}">
    <input type="submit" class="submit create-committee" value="{% trans 'Update Committee' %}">
  </form>
  <script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete this document' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
{% endblock workspace %}
