{% extends "inner.html" %}
{% load i18n compress user_tags common_tags permissions_tags %}

{% block extra_js %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/jquery.maskedinput.min.js"></script>
  <script src="{{ STATIC_URL }}js/kendo.web.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.imgareaselect.js"></script>
  {% compress js %}
    <script src="{{ STATIC_URL }}js/edit-profile.js"></script>
    <script src="{{ STATIC_URL }}js/field_array.js"></script>
  {% endcompress %}
{% endblock extra_js %}

{% block workspace %}
  <header class="heading">
    {% if current_membership == form.instance %}
    <h1>{% trans "Edit Your Profile" %}</h1>
    {% elif form.instance.role > 3 %}
    <h1>{% trans "Edit Guest Profile" %}</h1>
    {% else %}
    <h1>{% trans "Edit Member Profile" %}</h1>
    {% endif %}
  </header>
  <form action="" method="POST" class="addmember-form" enctype="multipart/form-data">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    <div class="m1">
      <dl class="settings">
        {% if current_membership == form.instance %}
          <dt>{% trans "My Profile" %}</dt>
        {% elif form.instance.role < 4 %}
          <dt>{% trans "Member Profile" %}</dt>
        {% else %}
          <dt>{% trans "Guest Profile" %}</dt>
        {% endif %}
        <dd>
          <ul>
            {% if current_membership == form.instance %}
              <li><a href="{% url 'accounts:boards' %}">{% trans "My Boards" %}</a></li>
              <li><a href="{% url 'auth_password_change' %}"> {% trans "Change password" %}</a></li>
              <li><a href="{% url 'change_email_index' %}">{% trans "Change email" %}</a></li>
            {% elif current_membership|has_role_permission:'profiles.membership:edit' %}
              <li><a href="{% url 'auth_members_password_change' pk=form.instance.pk %}"> {% trans "Change password" %}</a></li>
            {% endif %}
            {# Assistant link #}
            {% if form.instance.can_have_assistant %}
              {% if form.instance.assistant %}
                <li><a href="{% url 'profiles:assistant_detail' member_pk=form.instance.pk pk=form.instance.assistant.pk %}">{% trans "Assistant" %}</a></li>
              {% else %}
                <li><a href="{% acc_url 'assistant_create' pk=form.instance.pk %}">{% trans "Create Assistant" %}</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </dd>
      </dl>
      <div class="fields">
        <div class="c1">
          {% include 'profiles/includes/profiles_form.html' %}
          <div class="btns">
            <input type="submit" value="{% if form.instance.role < 4 %}{% trans "Update Member" %}{% else %}{% trans "Update Guest" %}{% endif %}" class="btn"/>
            <input type="reset" class="reset" value="{% trans "Cancel" %}"/>
          </div>
        </div>
      </div>
      <div class="picture">
        <div class="photo">
          <img src="{{ form.instance|avatar:'' }}"  width="240" alt="{{ form.instance.get_full_name }}" id="avatar"
          {% if form.instance.crops %}data-crop-orig-w="{{ form.instance.avatar.width }}" data-crop-x="{{ form.instance.crops.data.rect.x }}" data-crop-y="{{ form.instance.crops.data.rect.y }}" data-crop-w="{{ form.instance.crops.data.rect.width }}" data-crop-h="{{ form.instance.crops.data.rect.height }}"{% endif %}>
        </div>

        <div class="add-photo">
          <a class="upload-link" href="">{% if form.instance.avatar %}{% trans "Upload New Picture" %}{% else %}{% trans "Add Profile Picture" %}{% endif %}</a>
          <input type="file" class="avatar-input" name="avatar" {% if form.instance.avatar %}data-img=true{% endif %} />
        </div>
        {% if form.instance.avatar %}
          <div class="add-photo add-thumb">
            <a class="" href="#">{% trans "Save Thumbnail" %}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock %}
