{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Board of Directors Cloud Management Software</title>
  <link media="all" rel="stylesheet" href="{{ STATIC_URL }}css/styles-external.css">
  <link media="all" rel="stylesheet" href="{{ STATIC_URL }}css/passwordstrenght.css">
  <link href="{{ STATIC_URL }}css/kendo.common.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/kendo.default.min.css" rel="stylesheet" />
  <script type="text/javascript" src="{{ STATIC_URL }}js/password.js"></script>
  <!--[if lt IE 9]>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/PIE.js"></script>
    <script type="text/javascript" src="js/css3-mediaqueries.js"></script>
  <![endif]-->
  <script>
    var USER_EMAIL = '{{ request.user.email }}';
    var USER_NAME = '{{ current_membership.get_full_name }}';
  </script>
  <script src="{% static 'js/uservoice.js' %}"></script>
  {% block extra_js %}{% endblock extra_js %}
</head>
<body>
  <div id="page_wrapper">
    <header id="header">
      <div class="wrapper">
        <h1 class="logo"><a href="{% url 'main' %}">Board Director</a></h1>
        <nav>
          <ul>
            <li><a href="{% url 'main' %}">{% trans "How It Works" %}</a></li>
            <li><a href="{% url 'pricing' %}">{% trans "Pricing" %}</a></li>
            <li><a href="{% url 'contactus' %}">{% trans "Contact Us" %}</a></li>
            {% if not user.is_authenticated %}
              <li><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <a class="signup" href="{% if request.session.current_account %}{% url 'dashboard:dashboard' url=request.session.current_account.url %}
            {% else %}{% url 'accounts:boards' %}{% endif %}
            ">{% trans 'Hello' %}, {{ user.email }}</a>
          {% else %}
            <a class="signup" href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a>
          {% endif %}
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock content %}
    {% block main_content %}{% endblock %}
    <div class="substrate-footer"></div>
  </div>

  <footer id="footer">
    <div class="wrapper">
      <strong class="logo"><a href="#">Board Director</a></strong>
      <nav>
        <ul>
          <li><a href="{% url 'main' %}">{% trans "How it Works" %}</a></li>
          <li><a href="{% url 'pricing' %}">{% trans "Pricing" %}</a></li>
          <li><a href="{% url 'contactus' %}">{% trans "Contact us" %}</a></li>
          <li><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
          <li><a href="{% url 'registration_register' %}">{% trans "Try for free" %}</a></li>
        </ul>
      </nav>
      {% include "footer.html" %}
    </div>
  </footer>
</body>
</html>
