{% extends "blank_form.html" %}
{% load i18n %}
{% block content %}
  <div class="form-holder">
    <header>
      <h2>{% trans "Login to your ACCOUNT" %}</h2>
    </header>
    <form method="post" action="" class="form" id="login-form">{% csrf_token %}
      <ul>
        {% if form.non_field_errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.non_field_errors.0 }}
        </span>
        {% endif %}
        <li>
          {{ form.username.label_tag }}
          {{ form.username }}
        </li>
        {% if form.username.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_username" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.username.errors.0 }}
        </span>
        {% endif %}
        <li>
          {{ form.password.label_tag }}
          {{ form.password }}
        </li>
        {% if form.password.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_password" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.password.errors.0 }}
        </span>
        {% endif %}
      </ul>
        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary" id="submit-login">
      <div class="add-holder">
        <div class="check">
          <input type="checkbox" id="rememberme" checked="checked" name="rememberme">
          <label for="rememberme" style="float: none;">{% trans "Remember me" %}</label>
        </div>
        <a target="_top" class="password-help" href="{% url 'auth_password_reset' %}">{% trans "Password help?" %}</a>
      </div>
      <footer>
        <p>{% trans "Don't have an account?" %} <a target="_top" href="{% url 'registration_register' %}">{% trans "Sign up for Board Director" %}</a></p>
      </footer>
    </form>
  </div>
  <script>
$(document).ready(function(){
  $('.form-holder').on('click', '#submit-login', function(e){
    e.preventDefault();
    $.post('{{ request.path }}', $('#login-form').serialize(), function(data){
      if (data.logged_in){
        window.top.location.href = data.redirect;
      } else if (data.html) {
        $('.form-holder').children('form').replaceWith($(data.html).find('div.form-holder').children('form'));
      }
    })
  });
});
  </script>
  {% include 'google_analytic.html' %}
{% endblock %}
