{% extends "registration/base.html" %}
{% load i18n %}
{% block content %}
  <div class="form-holder">
    <header>
      <h2>{% trans "Login to your ACCOUNT" %}</h2>
    </header>
    <form method="post" action="" class="form">{% csrf_token %}
      <ul>
        {% if form.non_field_errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.non_field_errors.0 }}
        </span>
        {% endif %}
        <li>
          {{ form.username.label_tag }}
          {{ form.username }}
        </li>
        {% if form.username.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_username" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.username.errors.0 }}
        </span>
        {% endif %}
        <li>
          {{ form.password.label_tag }}
          {{ form.password }}
        </li>
        {% if form.password.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_password" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.password.errors.0 }}
        </span>
        {% endif %}
      </ul>
      <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary">
      <div class="add-holder">
        <div class="check">
          <input type="checkbox" id="rememberme" checked="checked" name="rememberme">
          <label for="rememberme" style="float: none;">{% trans "Remember me" %}</label>
        </div>
        <a class="password-help" href="{% url 'auth_password_reset' %}">{% trans "Password help?" %}</a>
      </div>
      <footer>
        <p>{% trans "Don't have an account?" %} <a href="{% url 'registration_register' %}">{% trans "Sign up for Board Director" %}</a></p>
      </footer>
    </form>
  </div>
  {% include 'google_analytic.html' %}
{% endblock %}
