{% extends "registration/base.html" %}
{% load i18n static %}

{% block extra_js %}
  <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
  <script src="{% static 'js/jquery.slugify.js' %}"></script>
  <script>
    $(function($) {
      $('#id_url').slugify('#id_name'); // Type as you slug
    });
  </script>
{% endblock extra_js %}

{% block content %}
<div class="form-holder">
    <header>
      <h2>{% trans "Signup for account" %}</h2>
      <p><span>{{ trial_period }}{% trans "-DAY free trial." %}</span> {% trans "No credit card required" %}</p>
    </header>
    <form method="post" action="" enctype="multipart/form-data" class="form">{% csrf_token %}
      <ul>
        {% if form.non_field_errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.non_field_errors.0 }}
        </span>
        {% endif %}
        <li>{{ form.email.label_tag }}
            {{ form.email }}
        </li>
        {% if form.email.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_email" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.email.errors.0 }}
        </span>
        {% endif %}
        <li>
          {{ form.password1.label_tag }}
      <div id="passwordDescription">{% trans "Password not entered" %}</div>
            {{ form.password1}}
      <div id="passwordStrength" class="strength0"></div>
        </li>
        {% if form.password1.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_password1" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.password1.errors.0 }}
        </span>
        {% endif %}
        <li>
        {{ form.password2.label_tag }}
            {{ form.password2}}
        </li>
        {% if form.password2.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_password2" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.password2.errors.0 }}
        </span>
        {% endif %}
          <li>{{ form.name.label_tag }}
               <div id="nameDescription">{% trans "Max" %} {{ form.fields.name.max_length }} {% trans "characters" %}</div>
              {{ form.name}}
          </li>
          {% if form.name.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_name" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.name.errors.0 }}
        </span>
          {% endif %}
        <li>
          {{ form.url.label_tag }}
            <div id="urlDescription">{% trans "Max" %} {{ form.fields.url.max_length }} {% trans "characters" %}</div>
            {{ form.url}}
            <span class="server">https://www.boarddirector.co/</span>
        </li>
        {% if form.url.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_url" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.url.errors.0 }}
        </span>
        {% endif %}
      </ul>

      <div class="holder">
        <input type="submit" value="GET STARTED" class="btn">
        <p>{% trans "Already a member?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a></p>
      </div>
      <p class="note">{% trans 'By clicking "Get Started", you are agreeing to the' %} <a href="{% url 'terms' %}">{% trans "Terms of Service" %}</a> {% trans "and" %} <a href="{% url 'privacy' %}">{% trans "Privacy Policy." %}</a></p>
    </form>
  </div>
  {% include 'google_analytic.html' %}
{% endblock %}
