{% load i18n common_tags permissions_tags %}

{% if active_tab == 'dashboard' %}

{% endif %}

<aside id="aside">
  <ul>
    <li{% if active_tab == 'dashboard' %} class="active"{% endif %}>
      <a class="dash-menu" href="{% acc_url 'dashboard:dashboard' %}">
        <span class="name-menu">{% trans "Dashboard" %}</span>
      </a>
    </li>
    {% if current_membership|has_role_permission:'meetings.meeting:view' %}
      <li{% if active_tab == 'meetings' %} class="active"{% endif %}>
        <a class="meet-menu" href="{% acc_url 'meetings:list' %}">
          <span class="name-menu">{% trans "Meetings" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'meetings.meeting:view' %}
      <li{% if active_tab == 'events' %} class="active"{% endif %}>
        <a class="event-menu" href="{% acc_url 'events:list' %}">
          <span class="name-menu">{% trans "Events" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'documents.folder:view' %}
      <li{% if active_tab == 'folders' %} class="active"{% endif %}>
        <a class="governance-menu" href="{% acc_url 'folders:rootfolder_detail' %}">
          <span class="name-menu">{% trans "Documents" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'committees.committee:view' %}
      <li{% if active_tab == 'committees' %} class="active"{% endif %}>
        <a class="committees-menu" href="{% acc_url 'committees:list' %}">
          <span class="name-menu">{% trans "Committees" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'profiles.membership:view' %}
      <li{% if active_tab == 'members' %} class="active"{% endif %}>
        <a class="members-menu" href="{% acc_url 'board_members' %}">
          <span class="name-menu">{% trans "Members" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'profiles.membership:view' %}
      <li{% if active_tab == 'guests' %} class="active"{% endif %}>
        <a class="guest-menu" href="{% acc_url 'board_guests' %}">
          <span class="name-menu">{% trans "Guests" %}</span>
        </a>
      </li>
    {% endif %}
    {% if current_membership|has_role_permission:'meetings.meeting:view' %}
      <li{% if active_tab == 'calendar' %} class="active"{% endif %}>
        <a class="calendar-menu" href="{% acc_url 'calendar:list' %}">
          <span class="name-menu">{% trans "Calendar" %}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</aside>
